/* Global input (web-form) button attributes. */

:disabled { 
  opacity:0.3;
}

/* Fuck Mozilla */
*::-moz-focus-inner {
  border:0 !important;
}

select,input,option,button {
  border-radius:4px;
  background:#F4F4F4;
}

input:active,select:active,option:active,button:active {
  border-radius:4px;
  background:SteelBlue;
}

input:hover,/*select:hover,*/option:hover,button:hover {  
  border-radius:4px;
  background:LightSteelBlue;
}

div[class|='cafev-nav'] {
  background-image:url('%appswebroot%/cafevdb/img/logo-greyf128x128');
  background-repeat:repeat-x;
  background-position:center;
}
div[class|='cafev-nav']>div {
  border:1px solid;
  background:#FFFFFF;
  opacity:0.98;
}

/* div.cafevdb-pme {
  position:fixed;
  margin-top:0em;
  padding-top:8ex;
  padding-bottom:0em;
} */
div.cafevdb-pme-header {
  position:fixed;
  padding-top:6ex;
  z-index:25;
  background-color:#FFFFFF;
  opacity:1.0;
  width:100%;
}
/* table.pme-navigation { */
/*   position:fixed; */
/*   background-color:#FFFFFF; */
/*   z-index:25; */
/*   opacity:1.0; */
/* } */
form.pme-form {
  position:relative;
  padding-top:20ex;
/* overflow:hidden; */
}

div.cafev-email {
  border:1px solid;
  border-top-width:0;
  border-bottom-width:0;
  margin-top:0em;
  padding-top:1em; /* why? */
  padding-left:1em;
  padding-right:1em;
}

div[class|='cafev-nav-top']>div {
  padding-bottom:0em;
  margin-bottom:0em;
}

div[class|='cafev-nav-bottom']>div {
  margin-top:0em;
  padding-top:0em;
}

*[class|='cafev-nav'] hr {
  border:0;
}

div.cafev-pme h2,div.cafev-email h2 {
  text-align:left;
  padding-left:12pt;
}
div.cafev-pme h2:before,div.cafev-email h2:before {
  content: url(%appswebroot%/cafevdb/img/logo-greyf32x32) " ";
}

div.cafev-pme h3, div.cafev-email h3 {
  text-align:left;
  padding-left:12pt;
}
div.cafev-pme h3:before, div.cafev-email h3:before {
  content: url(%appswebroot%/cafevdb/img/logo-greyf32x32) " ";
}

div.cafev-pme h4,div.cafev-email h4 {
  text-align:left;
/*  width:72ex;*/
  padding-left:12pt;
  padding-right:12pt;
}

div.cafev-pme p,div.cafev-email p {
  text-align:left;
/*  width:72ex;*/
  padding-left:12pt;
  padding-right:12pt;
}

/******************************************/

input[type=checkbox],input[type=submit],input[type=radio] {
  cursor:crosshair;
} 
hr.pme-hr {
  border:0px solid;
  padding:0px;
  margin:0px;
  border-top-width:1px;
  height:1px;
}
table.pme-main {
  border:#004d9c 1px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:auto;
}
table.pme-navigation {
  border:#004d9c 0px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:100%;
}
th[class|='pme-header']	{
  border:#004d9c 1px solid;
  padding:4px;
  background:#add8e6;
}
td[class|='pme-key'], td[class|='pme-value'], td[class|='pme-help'], td[class|='pme-navigation'], td[class|='pme-cell'],
td[class|='pme-sortinfo'], td[class|='pme-filter'], td[class|='pme-queryinfo'] {
  border:#004d9c 1px solid;
  padding:3px;
}
td.pme-buttons {
  text-align:left;
  vertical-align:middle;
}
td.pme-message {
  text-align:center;
}
td.pme-stats   {
  text-align:right;
}
td[class|='pme-cell-0'] {
  background:#B7CEEC;
}
td[class|='pme-cell-1'] {
  background:#C6DEFF;
}
/* Hide everything but the first line */
td.pme-cell-0-rem, td.pme-cell-1-rem { 
  font-size:25%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Make all remarks shorter */
td.pme-cell-0-rem:first-line, td.pme-cell-1-rem:first-line {
  font-size:400%; /* seem to be relative to !first-line */
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Hide everything but the first line */
td.pme-cell-0-prjrem, td.pme-cell-1-prjrem { 
  font-size:25%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Make all remarks shorter */
td.pme-cell-0-prjrem:first-line, td.pme-cell-1-prjrem:first-line {
  font-size:400%; /* seem to be relative to !first-line */
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Hide everything but the first line */
td.pme-cell-0-rhrslrem, td.pme-cell-1-rhrslrem { 
  font-size:25%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Make all remarks shorter */
td.pme-cell-0-rhrslrem:first-line, td.pme-cell-1-rhrslrem:first-line {
  font-size:400%; /* seem to be relative to !first-line */
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
td[class|='pme-navigation'] {
  white-space:nowrap;
  background:#C6DEFF;
}
td[class|='pme-sortinfo'], td[class|='pme-queryinfo']  {
  background:#C6DEFF;
}
td[class|='pme-filter'] {
  background:#C6DEFF;
}

:not(.lt-ie9) input.pme-misc-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-misc-check {
  width:24px;
  height:24px;
  background:url(%appswebroot%/cafevdb/img/e_mail.png);
  cursor:crosshair;
}
:not(.lt-ie9) input.pme-misc-check[type=checkbox]:checked ~ div.pme-misc-check {
  width:24px;
  height:24px;
  background:url(%appswebroot%/cafevdb/img/e_mail_checked.png);
}

input.pme-view-navigation {
  background:url(%appswebroot%/cafevdb/lib/images/alt/pme-view.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
}

input.pme-copy-navigation {
  background:url(%appswebroot%/cafevdb/lib/images/alt/pme-copy.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
}

input.pme-change-navigation {
  background:url(%appswebroot%/cafevdb/lib/images/alt/pme-change.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
}

input.pme-delete-navigation {
  background:url(%appswebroot%/cafevdb/lib/images/alt/pme-delete.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
}

:not(.lt-ie9) input.pme-sort[type=checkbox] { 
  display:none;
}
div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* text-align:center; */
  font-style:italic;
  opacity:0.2;
  display:inline-block;
}
input.pme-sort[type=checkbox]:checked ~ div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* background:url(%appswebroot%/cafevdb/img/sortierfeld.png); */
  /* text-align:center; */
  opacity:1.0;
  display:inline-block;
}
input.pme-sort-rvrt[type=submit] {
  background-image:url(%appswebroot%/cafevdb/img/ok_process-16x16.png);
  background-repeat:no-repeat;
  background-position:0px;
  background-origin:padding-box;
  background-clip:padding-box;
  min-height:16px;
  padding-left:16px;
  overflow:visible;
}

input.pme-misc-[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_X.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
input.pme-misc+[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_checked.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
input.pme-misc[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  padding-top:0px;
  min-height:28px;
  vertical-align:middle;
  border-radius:4px;
}

/* input.pme-misc[type=submit]:selected { */
/*   background-image:url(%appswebroot%/cafevdb/img/e_mail.png); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   background-origin:padding-box; */
/*   background-clip:padding-box; */
/*   padding-left:24px; */
/*   min-height:28px; */
/*   vertical-align:middle; */
/* } */

td.pme-buttons > .pme-goto {
  white-space:nowrap;
}

td.pme-buttons > .pme-pagerows {
  white-space:nowrap;
}

/*Easy <a class="tooltip" href="#">Tooltip<span>This is the crazy little Easy Tooltip Text.</span></a>.</p>*/
/*
 * LocalVariables: ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
