/* Global input (web-form) button attributes. */

form.cafevdb-control {
  float: left;
  font-size: 12px;
  height: 100%;
  vertical-align:middle;
}

/*******************************************************************************
 *
 * Export select via chosen
 *
 */

#pme-export-block div {
  vertical-align:middle;
  /*font-weight:bold;*/
}

#pme-export-block a.chzn-default span {
  /*font-weight:bold;*/
  color:#555;
}

#pme-export-block a.chzn-default span:hover,
#pme-export-block a.chzn-default span:focus,
#pme-export-block a.chzn-default span:active {
  /*font-weight:bold;*/
  color:#333;
}

/******************************************************************************/

#personalsettings {
  margin-right: 170px;
  float: right;
  font-size: 12px;
}

#expertmode>input[type=button] {
}

.actions {
  height: 33px;
  min-width: 800px;
}
.controls {
  min-width: 800px;
}
#controls button, #controls input {
  max-height: 26px;
  padding: 5px;
}

#projectlabelcontrol>input[type=button] {
  font-weight:bold;
  font-style:italic;
  border-style:outset;
  background-color:#C6DEFF;
}

button.events {
  max-height: 26px;
  padding: 5px;
}

#projectlabelcontrol>input[type=submit] {
  font-weight:bold;
  font-style:italic;
  border-style:outset;
  background-color:#C6DEFF;
}

span.instrumentation-button>input[type=button] {
  text-align:center;
  font-weight:bold;
  font-style:italic;
  border-style:outset;
  /*background-color:#d0dcec;*/
}

span.events>button {
  border-style:outset;
/*  background-color:#C6DEFF;*/
}

td[class|='pme-cell']>span.instrumentation-button>input[type=button] {
  width:95%;
  min-width:14em;
}

td[class|='pme-value']>span.instrumentation-button>input[type=button] {
  width:auto;
}

#emailcontrol>input[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  /*padding-top:0px;*/
  min-height:28px;
  vertical-align:middle;
  /* border-radius:4px; */
}

:disabled { 
  opacity:0.3;
}

/* Fuck Mozilla */
*::-moz-focus-inner {
  border:0 !important;
}

div.cafevdb-general {
  position:absolute;
  background-color:#f2f8ff;
  min-height:100%;
  min-width:100%;
}

select,input,option,button {
  /*border-radius:4px;*/
  border-radius:.5em;
  background-color:#F4F4F4;
}

#content input:active,#content select:active,#content option:active,#content button:active {
  border-radius:.5em;
  /*border-radius:4px;*/
  background-color:SteelBlue;
}

input[type=button]:active, input[type=submit]:active {
  background-color:SteelBlue;
}

/* input:hover,/\*select:hover,*\/option:hover,button:hover {   */
/*   border-radius:4px; */
/*   background-color:LightSteelBlue; */
/* } */

div[class|='cafevdb-nav'] {
  background-image:url('%appswebroot%/cafevdb/img/logo-greyf128x128');
  background-repeat:repeat-x;
  background-position:center;
}

div[class|='cafevdb-nav']>div {
  border:1px solid;
  background:#FFFFFF;
  opacity:0.98;
}

/*****************************************************************************
 *
 * Header stuff
 *
 */

#cafevdb-pme-header-box #viewtogglebar {
  position:absolute;
  bottom:0;
  overflow:visible;
  background-color:#BBB;
  right:0;
  width:100%;
  height:1ex;
  cursor:pointer;
  border:0px;
  opacity:0.5;
  /*border-bottom:1ex solid #eee;*/
  /* -moz-box-shadow:-3px 0 7px #777; */
  /* -webkit-box-shadow:-3px 0 7px #777; */
  /*box-shadow: 0 0.5ex 1ex #777;*/
}

div.cafevdb-pme-header-box,
div.cafevdb-pme-header-box.expanded {
  position:fixed;
  padding-top:5ex;
  z-index:25;
  background-color:inherit;
  opacity:1.0;
  width:100%;
  height:17ex;
  overflow:hidden;
  border-bottom:1px solid #777;
  -moz-box-shadow:-3px 0 7px #777;
  -webkit-box-shadow:-3px 0 7px #777;
  box-shadow: -3px 0 7px #777;
}

div.cafevdb-pme-header,
div.cafevdb-pme-header.expanded {
  position:fixed;
  padding-top:1ex;
  padding-left:1ex;
  height:16ex;
  margin-right:40px;
  overflow:hidden;
  /*width:80%;*/
}

div.cafevdb-pme-body,
div.cafevdb-pme-body.expanded {
  position:relative;
  padding-top:23ex;
}

div.cafevdb-pme-header-box.collapsed { height:4ex; }
div.cafevdb-pme-header.collapsed { height:3ex; }
div.cafevdb-pme-body.collapsed { padding-top:10ex; }

#cafevdb-pme-header-box #viewtoggle,
#cafevdb-pme-header-box #viewtoggle.expanded {
  position:relative;
  z-index:26;
  float:right;
  margin-top:13ex;
  margin-right:167px;
  max-height: 26px;
  padding: 5px;
  vertical-align:middle;
}

#cafevdb-pme-header-box #viewtoggle.collapsed {
  margin-top:0.3em;
}

#viewtoggle #viewtoggle-img, #viewtoggle.expanded #viewtoggle-img {
  background:url('%webroot%/core/img/actions/upload.png') no-repeat center;
}

#viewtoggle.collapsed #viewtoggle-img {
  background:url('%webroot%/core/img/actions/download.png') no-repeat center;
}

div.cafevdb-pme-header-box button.viewtoggle:active {
  background-color:SteelBlue;
}

/*
 * End header-toggle
 *
 *****************************************************************************/

form.pme-form {
  padding-left:1ex;
  background-color:#f2f8ff;
  width:auto;
}

.pme-form tr,.pme-form tr:hover,.pme-form tr:active { 
  background-color:inherit;
}

div[class|='cafevdb-nav-top']>div {
  padding-bottom:0em;
  margin-bottom:0em;
}

div[class|='cafevdb-nav-bottom']>div {
  margin-top:0em;
  padding-top:0em;
}

*[class|='cafevdb-nav'] hr {
  border:0;
}

div.cafevdb-pme h2,div.cafevdb-email h2 {
  text-align:left;
  padding-left:12pt;
}
div.cafevdb-pme h2:before,div.cafevdb-email h2:before {
  content: url(%appswebroot%/cafevdb/img/logo-greyf32x32) " ";
}

div.cafevdb-pme h3, div.cafevdb-email h3 {
  text-align:left;
  padding-left:12pt;
}
div.cafevdb-pme h3:before, div.cafevdb-email h3:before {
  content: url(%appswebroot%/cafevdb/img/logo-greyf32x32) " ";
}

div.cafevdb-pme h4,div.cafevdb-email h4 {
  text-align:left;
/*  width:72ex;*/
  padding-left:12pt;
  padding-right:12pt;
}

div.cafevdb-pme p,div.cafevdb-email p {
  text-align:left;
/*  width:72ex;*/
  padding-left:12pt;
  padding-right:12pt;
}

input[type=checkbox],input[type=submit],input[type=radio],input[type=button] {
  cursor:pointer;
} 

a.pme-cell-1:link, a.pme-cell-0:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell-1:visited, a.pme-cell-0:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell-1:hover, a.pme-cell-0:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

.pme-cell-1>a:link, .pme-cell-0>a:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell-1>a:visited, .pme-cell-0>a:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell-1>a:hover, .pme-cell-0>a:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

hr.pme-hr {
  border:0px solid;
  padding:0px;
  margin:0px;
  border-top-width:1px;
  height:1px;
}

td[class|='pme-navigation'] {
  white-space:nowrap;
  background:#C6DEFF;
}
td[class|='pme-sortinfo'], td[class|='pme-queryinfo']  {
  background:#C6DEFF;
}
td[class|='pme-filter'] {
  background:#C6DEFF;
}

:not(.lt-ie9) input.pme-misc-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-misc-check {
  width:24px;
  height:24px;
  background:url(%appswebroot%/cafevdb/img/e_mail.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-misc-check[type=checkbox]:checked ~ div.pme-misc-check {
  width:24px;
  height:24px;
  background:url(%appswebroot%/cafevdb/img/e_mail_checked.png);
  vertical-align:middle;
}

input.pme-view-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-view.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-copy-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-copy.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-change-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-change.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-delete-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-delete.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}
 
:not(.lt-ie9) input.pme-sort[type=checkbox] { 
  display:none;
}
div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* text-align:center; */
  font-style:italic;
  opacity:0.2;
  display:inline-block;
}
input.pme-sort[type=checkbox]:checked ~ div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* background:url(%appswebroot%/cafevdb/img/sortierfeld.png); */
  /* text-align:center; */
  opacity:1.0;
  display:inline-block;
}
input.pme-sort-rvrt[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/ok_process-16x16.png');
  background-repeat:no-repeat;
  background-position:0px;
  background-origin:padding-box;
  background-clip:padding-box;
  min-height:16px;
  padding-left:16px;
  overflow:visible;
}

input.pme-misc-[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_X.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
input.pme-misc+[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_checked.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

input.pme-misc[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  /*padding-top:0px;*/
  min-height:28px;
  vertical-align:middle;
  /* border-radius:4px; */
}

input.pme-filter {
  width:auto;
  white-space:nowrap;
}

/* input.pme-misc[type=submit]:selected { */
/*   background-image:url(%appswebroot%/cafevdb/img/e_mail.png); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   background-origin:padding-box; */
/*   background-clip:padding-box; */
/*   padding-left:24px; */
/*   min-height:28px; */
/*   vertical-align:middle; */
/* } */

td.pme-buttons > .pme-misc {
  white-space:nowrap;
}

td.pme-buttons > .pme-goto {
  white-space:nowrap;
}

td.pme-buttons > .pme-pagerows {
  white-space:nowrap;
}

/*Easy <a class="tooltip" href="#">Tooltip<span>This is the crazy little Easy Tooltip Text.</span></a>.</p>*/

/*
 * Local Variables: ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
