/* Global input (web-form) button attributes. */

form.cafevdb-control {
  float: left;
  font-size: 12px;
  height: 100%;
  vertical-align:middle;
}

#personalsettings {
  margin-right: 170px;
  float: right;
  font-size: 12px;
}

#expertmode>input[type=button] {
}

.actions {
  height: 33px;
  min-width: 800px;
}
.controls {
  min-width: 800px;
}
#controls button, #controls input {
  max-height: 26px;
  padding: 5px;
}

#projectlabelcontrol>input[type=button] {
  font-weight:bold;
  font-style:italic;
  border-style:outset;
  background-color:#C6DEFF;
}

button.events {
  max-height: 26px;
  padding: 5px;
}

#projectlabelcontrol>input[type=submit] {
  font-weight:bold;
  font-style:italic;
  border-style:outset;
  background-color:#C6DEFF;
}

div.instrumentation-button>input[type=button] {
  text-align:center;
  font-weight:bold;
  font-style:italic;
  border-style:outset;
  /*background-color:#d0dcec;*/
}

td[class|='pme-cell']>div.instrumentation-button>input[type=button] {
  width:95%;
  min-width:14em;
}

td[class|='pme-value']>div.instrumentation-button>input[type=button] {
  width:auto;
}

#emailcontrol>input[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  /*padding-top:0px;*/
  min-height:28px;
  vertical-align:middle;
  /* border-radius:4px; */
}

:disabled { 
  opacity:0.3;
}

/* Fuck Mozilla */
*::-moz-focus-inner {
  border:0 !important;
}

div.cafevdb-general {
  position:absolute;
  background-color:#f2f8ff;
  min-height:100%;
  min-width:100%;
}

select,input,option,button {
  /*border-radius:4px;*/
  border-radius:.5em;
  background-color:#F4F4F4;
}

#content input:active,#content select:active,#content option:active,#content button:active {
  border-radius:.5em;
  /*border-radius:4px;*/
  background-color:SteelBlue;
}

/* input:hover,/\*select:hover,*\/option:hover,button:hover {   */
/*   border-radius:4px; */
/*   background-color:LightSteelBlue; */
/* } */

div[class|='cafevdb-nav'] {
  background-image:url('%appswebroot%/cafevdb/img/logo-greyf128x128');
  background-repeat:repeat-x;
  background-position:center;
}

div[class|='cafevdb-nav']>div {
  border:1px solid;
  background:#FFFFFF;
  opacity:0.98;
}

div.cafevdb-pme-header-box,div.cafevdb-pme-header-box-16ex {
  position:fixed;
  padding-top:5ex;
  z-index:25;
  background-color:inherit;
  opacity:1.0;
  width:100%;
  height:16ex;
  overflow:hidden;
  border-bottom:1px solid #eee;
  -moz-box-shadow:-3px 0 7px #777;
  -webkit-box-shadow:-3px 0 7px #777;
  box-shadow: -3px 0 7px #777;
}

div.cafevdb-pme-header {
  position:fixed;
  padding-top:1ex;
  padding-left:1ex;
  height:15ex;
  margin-right:40px;
  overflow:hidden;
  /*width:80%;*/
}

div.cafevdb-pme-header-box button.viewtoggle {
  float:right;
  margin-right:167px;
  max-height: 26px;
  padding: 5px;
}

div.cafevdb-pme-header-box button.viewtoggle:active {
  background-color:SteelBlue;
}

form.pme-form {
  position:relative;
  padding-top:24ex;
  padding-left:1ex;
  background-color:#e6f1ff;
}

.pme-form tr,.pme-form tr:hover,.pme-form tr:active { 
  background-color:inherit;
}

div[class|='cafevdb-nav-top']>div {
  padding-bottom:0em;
  margin-bottom:0em;
}

div[class|='cafevdb-nav-bottom']>div {
  margin-top:0em;
  padding-top:0em;
}

*[class|='cafevdb-nav'] hr {
  border:0;
}

div.cafevdb-pme h2,div.cafevdb-email h2 {
  text-align:left;
  padding-left:12pt;
}
div.cafevdb-pme h2:before,div.cafevdb-email h2:before {
  content: url(%appswebroot%/cafevdb/img/logo-greyf32x32) " ";
}

div.cafevdb-pme h3, div.cafevdb-email h3 {
  text-align:left;
  padding-left:12pt;
}
div.cafevdb-pme h3:before, div.cafevdb-email h3:before {
  content: url(%appswebroot%/cafevdb/img/logo-greyf32x32) " ";
}

div.cafevdb-pme h4,div.cafevdb-email h4 {
  text-align:left;
/*  width:72ex;*/
  padding-left:12pt;
  padding-right:12pt;
}

div.cafevdb-pme p,div.cafevdb-email p {
  text-align:left;
/*  width:72ex;*/
  padding-left:12pt;
  padding-right:12pt;
}

/******************************************/

a.pme-cell-1:link, a.pme-cell-0:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell-1:visited, a.pme-cell-0:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell-1:hover, a.pme-cell-0:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

.pme-cell-1>a:link, .pme-cell-0>a:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell-1>a:visited, .pme-cell-0>a:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell-1>a:hover, .pme-cell-0>a:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

input[type=checkbox],input[type=submit],input[type=radio],input[type=button] {
  cursor:pointer;
} 
hr.pme-hr {
  border:0px solid;
  padding:0px;
  margin:0px;
  border-top-width:1px;
  height:1px;
}
table.pme-main {
  border:#004d9c 1px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:auto;
}
table.pme-navigation {
  border:#004d9c 0px solid;
  border-collapse:collapse;
  border-spacing:0px;
}

th[class|='pme-header']	{
  border:#004d9c 1px solid;
  padding:4px;
  background:#add8e6;
}

td.negative { 
  color:#FF0000;
}

td.pme-cell-0-money, td.pme-cell-1-money {
  text-align:right;
}

td[class|='pme-key'], td[class|='pme-value'],
td[class|='pme-help'], td[class|='pme-navigation'],
td[class|='pme-cell'], td[class|='pme-sortinfo'],
td[class|='pme-filter'], td[class|='pme-queryinfo'] {
  border:#004d9c 1px solid;
  padding:3px;
}
td.pme-buttons {
  text-align:left;
  vertical-align:middle;
}
td.pme-message {
  text-align:center;
}
td.pme-stats   {
  text-align:right;
  padding-left:10ex;
}

td[class|='pme-cell-0'] {
  background:#B7CEEC;
}
td[class|='pme-cell-1'] {
  background:#C6DEFF;
}

/* Hide everything but the first line */
td.pme-cell-0-rcpt, td.pme-cell-1-rcpt,
td.pme-cell-0-msg, td.pme-cell-1-msg,
td.pme-cell-0-cc, td.pme-cell-1-cc,
td.pme-cell-0-bcc, td.pme-cell-1-bcc { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
/*  white-space:normal;*/
  overflow:hidden;
}

td.pme-value-0-msg, td.pme-value-1-msg {
  max-width:80ex;
  /*font-size:25%;*/
  white-space:normal;
  text-wrap:normal;
}

/* Hide everything but the first line */
td.pme-cell-0-rem, td.pme-cell-1-rem { 
  font-size:25%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Hide everything but the first line */
td.pme-cell-0-prjs, td.pme-cell-1-prjs { 
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Make all remarks shorter */
td.pme-cell-0-rem:first-line, td.pme-cell-1-rem:first-line {
  font-size:400%; /* seem to be relative to !first-line */
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Hide everything but the first line */
td.pme-cell-0-prjrem, td.pme-cell-1-prjrem { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Make all remarks shorter */
td.pme-cell-0-prjrem:first-line, td.pme-cell-1-prjrem:first-line {
  font-size:400%; /* seem to be relative to !first-line */
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Hide everything but the first line */
td.pme-cell-0-rhrslrem, td.pme-cell-1-rhrslrem { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
/* Make all remarks shorter */
td.pme-cell-0-rhrslrem:first-line, td.pme-cell-1-rhrslrem:first-line {
  font-size:400%; /* seem to be relative to !first-line */
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}
td[class|='pme-navigation'] {
  white-space:nowrap;
  background:#C6DEFF;
}
td[class|='pme-sortinfo'], td[class|='pme-queryinfo']  {
  background:#C6DEFF;
}
td[class|='pme-filter'] {
  background:#C6DEFF;
}

:not(.lt-ie9) input.pme-misc-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-misc-check {
  width:24px;
  height:24px;
  background:url(%appswebroot%/cafevdb/img/e_mail.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-misc-check[type=checkbox]:checked ~ div.pme-misc-check {
  width:24px;
  height:24px;
  background:url(%appswebroot%/cafevdb/img/e_mail_checked.png);
  vertical-align:middle;
}

input.pme-view-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-view.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-copy-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-copy.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-change-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-change.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-delete-navigation {
  background:url(%appswebroot%/cafevdb/img/pme-delete.png) !important;
  no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}
 
:not(.lt-ie9) input.pme-sort[type=checkbox] { 
  display:none;
}
div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* text-align:center; */
  font-style:italic;
  opacity:0.2;
  display:inline-block;
}
input.pme-sort[type=checkbox]:checked ~ div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* background:url(%appswebroot%/cafevdb/img/sortierfeld.png); */
  /* text-align:center; */
  opacity:1.0;
  display:inline-block;
}
input.pme-sort-rvrt[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/ok_process-16x16.png');
  background-repeat:no-repeat;
  background-position:0px;
  background-origin:padding-box;
  background-clip:padding-box;
  min-height:16px;
  padding-left:16px;
  overflow:visible;
}

input.pme-misc-[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_X.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
input.pme-misc+[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_checked.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

input.pme-misc[type=submit] {
  background-image:url('%appswebroot%/cafevdb/img/e_mail.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  /*padding-top:0px;*/
  min-height:28px;
  vertical-align:middle;
  /* border-radius:4px; */
}

input.pme-filter {
  width:auto;
  white-space:nowrap;
}

/* input.pme-misc[type=submit]:selected { */
/*   background-image:url(%appswebroot%/cafevdb/img/e_mail.png); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   background-origin:padding-box; */
/*   background-clip:padding-box; */
/*   padding-left:24px; */
/*   min-height:28px; */
/*   vertical-align:middle; */
/* } */

td.pme-buttons > .pme-misc {
  white-space:nowrap;
}

td.pme-buttons > .pme-goto {
  white-space:nowrap;
}

td.pme-buttons > .pme-pagerows {
  white-space:nowrap;
}

/*Easy <a class="tooltip" href="#">Tooltip<span>This is the crazy little Easy Tooltip Text.</span></a>.</p>*/

/*
 * LocalVariables: ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
