/* Quickform2 stuff */

.quickform fieldset {
  /*clear: both;*/
  /*border: 1px solid #808080;*/
  /* margin: 0.2em 0 0 0;*/
  /*padding: 0.5em;*/
}

form[class|="cafevdb-email"] fieldset.border {
  border:1px solid #808080;
  padding:0.5em;
  moz-border-radius:.5em;
  webkit-border-radius:.5em;
  border-radius:.5em;
}

form[class|="cafevdb-email"] fieldset legend {
  white-space:nowrap;
  font-weight:bold;
  font-size:120%;
  padding:0.1em 0.5em;
  margin:0.5em 0.5em;
  background-color:#CCCCCC;
  /* font-weight:bold; */
  /* font-style:italic; */
  background-color:#C6DEFF;
  moz-border-radius:.5em;
  webkit-border-radius:.5em;
  border-radius:.5em;
}

form[class|="cafevdb-email"] tr,
form[class|="cafevdb-email"] tr:hover,
form[class|="cafevdb-email"] tr:active { 
  background-color:inherit;
}

.cafevdb-email-filter fieldset {
  white-space:nowrap;
  /*border:1px solid #808080;*/
}

.cafevdb-email-filter fieldset div.row
{
  vertical-align:top;
  /*width:10em;*/
  width:auto;
  display:inline-block;
  float:none;
}
.cafevdb-email-filter fieldset div.element
{
  display:inline-block;
  /*float:left;*/
}
.cafevdb-email-filter fieldset.basegroup div.element {
  display:block-inline;
  width:auto;
}
.cafevdb-email-filter fieldset.basegroup p.label {
  padding-right:2em;
  display:inline;
}

.cafevdb-email-filter fieldset.basegroup input[class^="select"][type=checkbox] + label {
  padding-right:2em;
}
.cafevdb-email-filter fieldset.basegroup input[class^="select"][type=checkbox] {
  /*display:none;*/
}
.cafevdb-email-filter fieldset.basegroup span[class^="select"] {
  width:auto;
  padding:0.2em;
  /*max-height: 26px; padding: 5px;*/
  border:1px solid #ddd;
  font-weight:bold;
  cursor:pointer;
  background:#f8f8f8;
  color:#555;
  text-shadow:#fff 0 1px 0;
  moz-box-shadow:0 1px 1px #fff, 0 1px 1px #fff inset;
  webkit-box-shadow:0 1px 1px #fff, 0 1px 1px #fff inset;
  moz-border-radius:.5em;
  webkit-border-radius:.5em;
  border-radius:.5em;
}
.cafevdb-email-filter fieldset.basegroup input[class^="select"][type=checkbox] + label>span[class^="select"] {
  display:inline-block;
  background-color:#F4F4F4 !important;
  box-shadow:2px 2px 2px #080808;/*, 2px 2px 2px #cfc;*/
}
.cafevdb-email-filter fieldset.basegroup input[class^="select"][type=checkbox]:checked + label>span[class^="select"] {
  display:inline-block;
  background-color:LightSteelBlue !important;
  box-shadow:2px 2px 2px #080808 inset; /*, 1px 1px 1px #cfc inset;*/
}

.cafevdb-email-filter fieldset.select {
  vertical-align:top;
  display:inline-block;
}
.cafevdb-email-filter fieldset.select select {
  font-size:90%;
}
.cafevdb-email-filter fieldset.select p.label {
  /*float:left;*/
  width:auto;
  text-align:left;
  padding: 0;
  margin: 0.7em 0 0 0;
}
.cafevdb-email-filter fieldset.select select.dualselect {
  width:25em;
}

.cafevdb-email-filter fieldset.filter p.label {
  /*float:left;*/
  width:auto;
  text-align:left;
  padding: 0;
  margin: 0.7em 0 0 0;
}
.cafevdb-email-filter fieldset.filter select {
  font-size:90%;
}
.cafevdb-email-filter fieldset.filter {
  vertical-align:top;
  display:inline-block;
}
.cafevdb-email-filter fieldset.filter select.filter {
  width:auto;
}

.cafevdb-email-filter fieldset.submit {
  white-space:nowrap;
  max-width:60em;
}
.cafevdb-email-filter fieldset.submit p.label {
  display:inline;
}

.cafevdb-email-filter fieldset.freeze {
  white-space:nowrap;
  display:inline-block;
  width:50%;
  text-align:left;
}
.cafevdb-email-filter fieldset.freeze div.row
{
  vertical-align:middle;
  display:inline-block;
}

.cafevdb-email-filter fieldset.filtersubmit {
  white-space:nowrap;
  display:inline;
  width:50%;
  text-align:right;
}
.cafevdb-email-filter fieldset.filtersubmit div.row
{
  vertical-align:middle;
  display:inline-block;
}
.cafevdb-email-filter fieldset.filtersubmit input[type=submit].apply {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_checked.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
.cafevdb-email-filter fieldset.filtersubmit input[type=submit].reset {
  background-image:url('%appswebroot%/cafevdb/img/e_mail_X.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

#SelectedMusicians-0-tofrom { 
  height:26px;
  padding:5px;
}

#SelectedMusicians-0-fromto { 
  height:26px;
  padding:5px;
}

/*****************************************************************************
 *
 * Editor stuff
 *
 *****************************************************************************/

.cafevdb-email-form {
  font-size:100%;
}
table.cafevdb-email-form {
  border:1px solid #808080;
  padding:0.5em;
  moz-border-radius:.5em;
  webkit-border-radius:.5em;
  border-radius:.5em;
}
.cafevdb-email-form tr.attachments td {
  vertical-align:middle;
}
.cafevdb-email-form tr.attachments button {
  background-color:#C6DEFF;
  vertical-align:middle;
  height:26px;
  padding:5px;  
  border-style:outset;
}
.cafevdb-email-form tr.eventattachments img { 
  height:10px;
  vertical-align:top;
}
.cafevdb-email-form tr.eventattachments button {
  background-color:#C6DEFF;
  vertical-align:middle;
  height:20px;
  padding:5px;  
  border-style:outset;
  vertical-align:middle;
}

.cafevdb-email-form tr.submit td {
  border-top:1px solid #808080;
}
.cafevdb-email-form tr.submit td.send {
   width:auto;
   text-align:full;
   padding:0;
   margin:0;
}
.cafevdb-email-form span.subject.tag {
  /*min-width:20em;*/
  font-family:monospace;
  font-size:160%;
  width:auto;
  text-align:left;
  font-weight:bold;
  /*+font-style:italic;*/
 }
.cafevdb-email-form td.body {
  vertical-align:top;
}
.cafevdb-email-form tr.submit td.addresses input {
   width:auto;
 }
.cafevdb-email-form tr.submit td.addresses {
   width:auto;
   text-align:full;
   padding:0;
   margin:0;
}
.cafevdb-email-form tr.submit td.reset {
   width:auto;
   text-align:right;
   padding:0;
   margin:0;
}
div.cafevdb-error {
  font-weight:bold;
  color:red;
}

/*****************************************************************************
 *
 * Header stuff
 *
 *****************************************************************************/

div.cafevdb-email-header-box {
  position:fixed;
  padding-top:5ex;
  z-index:25;
  background-color:inherit;
  opacity:1.0;
  width:100%;
  height:28ex;
  overflow:hidden;
  border-bottom:1px solid #eee;
  -moz-box-shadow:-3px 0 7px #777;
  -webkit-box-shadow:-3px 0 7px #777;
  box-shadow: -3px 0 7px #777;
}

div.cafevdb-email-header {
  position:fixed;
  padding-top:1ex;
  padding-left:1ex;
  /*margin-right:170px;*/
  margin-right:40px;
  /* width:80%; */
  height:27ex;
  overflow:hidden;
}

div.cafevdb-email-body { 
  position:relative;
  padding-top:34ex;
  padding-left:1ex;
}

div.cafevdb-email-header-box button.viewtoggle {
  float:right;
  margin-right:167px;
  max-height: 26px;
  padding: 5px;
}

div.cafevdb-email-header-box button.viewtoggle:active {
  background-color:SteelBlue;
}

div.events {
  vertical-align:middle;
  display:inline-block;
}
/* File upload support */
#file_upload_form {
  width:0;
  height:0;
}
#file_upload_target {
 display:none;
}
#file_upload_start {
  ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0;
  z-index:1001;
  width:0;
  height:0;
}

