/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2013 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*****************************************************************************
 *
 * General stuff, background etc.
 *
 */
div#emailformwrapper {
  padding:0;
  background-color:#F2F8FF;
}

.ui-dialog.emailform {
  overflow:hidden;
  max-height: 90% !important;
  max-width: 90% !important;
}

/* dialog popup, header */

.ui-dialog.emailform div.ui-dialog-titlebar {
  padding-bottom:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom:0;
}
#emailformwrapper > div {
  height:auto !important;
  overflow-y:auto;
  overflow-x:hidden;
}

#emailformdialog {
  padding:0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

ul#emailformtabs {
  padding-top:0;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-top:0;
}

#emailformdialog fieldset.page {
  min-width:65em;
}

/*****************************************************************************
 *
 * status messages
 *
 */

#emailformdialog #emailformdebug {
  height:auto;
  width:auto;
  overflow:auto;
}

/*****************************************************************************
 *
 * email composition
 *
 */

form#cafevdb-email-form td.caption {
  font-weight:bold;
}

#emailformdialog #emailformcomposer  {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0px !important;
}

fieldset.email-composition.page {
  margin-bottom:1em;
}

form#cafevdb-email-form fieldset.page {
  max-width:65em;
}
form#cafevdb-email-form tr.attachments td {
  vertical-align:middle;
  padding-bottom:1em;
}
form#cafevdb-email-form tr.attachments button {
  background-color:#C6DEFF;
  vertical-align:middle;
  height:28px;
  padding:5px;  
  border-style:outset;
}
form#cafevdb-email-form tr.attachments button.events {
  padding:0px;
}
form#cafevdb-email-form tr.attachments button.events img  {
  vertical-align:top;
  height:26px;
}
form#cafevdb-email-form tr.eventattachments img { 
  height:10px;
  vertical-align:top;
}
form#cafevdb-email-form tr.eventattachments button {
  background-color:#C6DEFF;
  vertical-align:middle;
  height:20px;
  padding:5px;  
  border-style:outset;
  vertical-align:middle;
}

form#cafevdb-email-form tr.submit td {
  border-top:1px solid #808080;
  padding-top:0.5em;
}
form#cafevdb-email-form tr.submit td.send {
   width:auto;
   text-align:full;
   padding:0;
   margin:0;
}

form#cafevdb-email-form tr,
form#cafevdb-email-form tr:hover,
form#cafevdb-email-form tr:active { 
  background-color:inherit;
}

form#cafevdb-email-form td.body {
  vertical-align:top;
}
form#cafevdb-email-form tr.submit td.addresses input {
   width:auto;
 }
form#cafevdb-email-form tr.submit td.addresses {
   width:auto;
   text-align:full;
   padding:0;
   margin:0;
}
form#cafevdb-email-form tr.submit td.reset {
   width:auto;
   text-align:right;
   padding:0;
   margin:0;
}
form#cafevdb-email-form td.reset input {
  margin-right:0;
}


form#cafevdb-email-form tr.email-template td {
  border-bottom:1px solid #808080;
  padding-bottom:0.5em;
}

form#cafevdb-email-form td.email-template-storage {
  text-align:right;
}

form#cafevdb-email-form td.email-template-storage input {
  padding-top:5px;
}

form#cafevdb-email-form td.email-address.input input.address-book-emails,
form#cafevdb-email-form td.email-template-storage input.submit {
  background-repeat:no-repeat;
  background-size: 24px 24px;
  background-position: center;
  width:27px;
  height:27px;
  font-size:0pt;
  vertical-align:middle;
}

.ui-dialog.chosen-popup-dialog {
  max-height: 75% !important;
  overflow: visible;
  padding: 0;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-content {
  min-height:4.4em !important;
  padding: 0;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-content .chosen-choices {
  min-height:4.4em;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-buttonpane {
  padding:0;
  margin-top:0;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-buttonpane button {
  margin-left:0.4em;
  margin-right:0.4em;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float:none;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-buttonpane button.save {
  float:left;
}
.ui-dialog.chosen-popup-dialog .ui-dialog-buttonpane button.cancel {
  float:right;
}

form#cafevdb-email-form td.email-template-storage input.save-template {
  background-image:url('../img/save.svg');
}

form#cafevdb-email-form td.email-template-storage input.delete-template {
  background-image:url('../img/delete.svg');
}

form#cafevdb-email-form td.email-address.input input.address-book-emails {
  background-image:url('../img/contacts.svg');
  background-color:#000;
  float:right;
}

form#cafevdb-email-form .chosen-container { 
  width:15em !important;
}

form#cafevdb-email-form .chosen-container .chosen-default { 
  color:#000;
  font-weight:bold;
}

form#cafevdb-email-form #emailCurrentTemplate { 
  width:12em;
}

form#cafevdb-email-form td.email-recipients {
  padding-top:1em;
}

form#cafevdb-email-form td.email-address.input {
  width:100%;
  /*padding: 0 1em 0 0;*/
}
form#cafevdb-email-form td.email-address.input input {
  width:90%;
  float:left;
}

form#cafevdb-email-form td.email-address.display {
  width:100%;
  overflow:hidden;
}

form#cafevdb-email-form td.email-address.display span {
  display:inline-block;
  max-width:45em;
  overflow:hidden;
  text-overflow:ellipsis;
}
/* 
form#cafevdb-email-form td.email-address.display span {
form#cafevdb-email-form td.email-address.display {
*/


form#cafevdb-email-form td.subject.input  span.subject.tag {
  font-family:monospace;
  font-size:160%;
  width:auto;
  max-width:30%;
  text-align:right;
  font-weight:bold;
  display:inline-block;
  float:left;
  line-height:2.5em;
  overflow:hidden;
  text-overflow:ellipsis;
}

form#cafevdb-email-form td.subject.input span.subject.input {
  width:70%;
  padding: 0 1em 0 0;
  display:inline-block;
  line-height:2.5em;
  float:right;
}

form#cafevdb-email-form td.subject.input input {
  width:100%;
}

form#cafevdb-email-form td.messagetext {
  padding: 0.5em 0;
}

/*****************************************************************************
 *
 * email recipients selection
 *
 */
form#cafevdb-email-form div.row {
  width:100%;
}

form#cafevdb-email-form div.row:after {
  content:" ";
  display:block;
  height:0;
  clear: both;
}

form#cafevdb-email-form span.container {
  display:inline-block;
}

form#cafevdb-email-form .container.left {
  float:left;
}

form#cafevdb-email-form .container.right {
  float:right;
  text-align:right;
}

form#cafevdb-email-form .label {
  font-weight:bold;
}

form#cafevdb-email-form .label.top {
  display:block;
}

form#cafevdb-email-form .label.left {
  display:inline-block;
  float:left;
  padding-right:0.5em;
}

form#cafevdb-email-form .label.right {
  display:inline-block;
  float:right;
  padding-left:0.5em;
}

form#cafevdb-email-form .spacer {
  width:100%;
  height:3px;
  margin: 0.5em 0 1em 0;
  text-align:center;
  line-height:3px;
}

form#cafevdb-email-form .spacer .ruler {
  display:inline-block;
  width:100%;
  background-color:#000;
  height:1px;
  vertical-align:middle;
  padding:0;
}

form#cafevdb-email-form .vmiddle {
  vertical-align:middle;
}

form#cafevdb-email-form .vmiddle * {
  vertical-align:middle;
}

/* special elements */

form#cafevdb-email-form .missing-email-addresses span.personal-record {
  color:red;
  font-style:italic;
  text-decoration:undline;
  font-weight:bold;
  cursor:pointer;
  padding:2px;
}

form#cafevdb-email-form .missing-email-addresses span.personal-record:hover {
  box-shadow:1px 1px 1px #080808; /*, 1px 1px 1px #cfc inset;*/
  background-color:LightSteelBlue;
}

form#cafevdb-email-form .missing-email-addresses span.personal-record:active {
  box-shadow:1px 1px 1px #080808 inset; /*, 1px 1px 1px #cfc inset;*/
  background-color:LightSteelBlue;
}

form#cafevdb-email-form .member-status-filter.container {
  min-height:2em;
  line-height:2em;
  width:100%;
}

form#cafevdb-email-form #member_status_filter_chosen { 
  min-width:40% !important;
  max-width:80% !important;
  width:auto !important;
}

form#cafevdb-email-form .basic-recipients-set.container.inner {
  margin: 0 0.5em 0 0.5em;
  position:relative;
  max-width:35%;
}

form#cafevdb-email-form input[type=checkbox] {
  position:absolute;
}
form#cafevdb-email-form span.basic-recipients-set.container.outer {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
}

form#cafevdb-email-form input[type=checkbox] + .label {
  width:100%;
}

form#cafevdb-email-form input[type=checkbox] + .label span.button {
  display:inline-block;
  background-color:#F4F4F4 !important;
  box-shadow:2px 2px 2px #080808;/*, 2px 2px 2px #cfc;*/
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width:100%;
}

form#cafevdb-email-form input[type=checkbox]:checked + .label span.button {
  display:inline-block;
  background-color:LightSteelBlue !important;
  box-shadow:2px 2px 2px #080808 inset; /*, 1px 1px 1px #cfc inset;*/
  white-space:nowrap;
  text-overflow:ellipsis;
}

form#cafevdb-email-form .recipients-select.container {
  width:80%;
}

form#cafevdb-email-form .instruments-filter.container {
  width:18%;
  text-align:center;
  cursor: pointer;
}

form#cafevdb-email-form .instruments-filter.container label {
}

form#cafevdb-email-form span#instruments-filter-wrapper {
  margin-top:0.3em;
  display:inline-block;
  width: 100%;
}

form#cafevdb-email-form .instruments-filter.container .chosen-container {
  width:100% !important;
}

form#cafevdb-email-form input.instruments-filter-controls.apply {
  background-image:url('../img/email-new-yes.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

form#cafevdb-email-form input.instruments-filter-controls.undo {
  background-image:url('../img/email-new-undo.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

form#cafevdb-email-form input.instruments-filter-controls.redo {
  background-image:url('../img/email-new-redo.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

form#cafevdb-email-form input.instruments-filter-controls.reset {
  background-image:url('../img/email-new-x.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

/******************************************************************************
 *
 * File upload support
 *
 */

.file_upload_form {
  width:0;
  height:0;
}
.file_upload_target {
 display:none;
}
.file_upload_start {
  ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0;
  z-index:1001;
  width:0;
  height:0;
}

/*
 * Local Variables: ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
