#edit_photo_dialog_img {
  display: block; min-width: 150; min-height: 200;
}
#musician_photo {
  float: left; margin: 1em;
}
#cropbox {
  margin: auto;
}
#file_upload_form {
  width: 0;
  height: 0;
}
#file_upload_target, #import_upload_target, #crop_target {
  display:none;
}
#file_upload_start, #import_upload_start {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0;
  z-index:1001;
  width:0;
  height:0;
}
#cafevdb_musician_photo_wrapper {
  width: 150px;
}
#cafevdb_musician_photo_wrapper.wait {
  opacity: 0.6;
  filter:alpha(opacity=0.6);
  z-index:1000;
  background: url('../../../core/img/loading.gif') no-repeat center center;
  cursor: wait;
}
.cafevdb_musician_photo {
  border-radius: 0.5em;
  border: thin solid #bbb;
  margin: 0.3em;
  background: url('../../../core/img/loading.gif') no-repeat center center; -moz-box-shadow: 0 1px 3px #777;
  webkit-box-shadow: 0 1px 3px #777;
  box-shadow: 0 1px 3px #777;
  opacity: 1;
}
.cafevdb_musician_photo:hover {
  background: #fff;
  cursor: default;
}
#phototools {
  position:absolute;
  margin: 5px 0 0 10px;
  width:auto; height:22px;
  padding:0px;
  background-color:#fff;
  list-style-type:none;
  border-radius: 0.5em;
  moz-box-shadow: 0 1px 3px #777;
  webkit-box-shadow: 0 1px 3px #777;
  box-shadow: 0 1px 3px #777;
}
#phototools li {
  display: inline;
}
#phototools li a {
  float:left;
  cursor:pointer;
  width:22px;
  height:22px;
  opacity: 0.6;
}
#phototools li a:hover {
  opacity: 0.8;
}
/**************************************************************************
 *
 * Icons.
 *
 */
.add {
  background:url('../../../core/img/actions/add.svg') no-repeat center;
  clear: both;
}
.delete {
  background:url('../../../core/img/actions/delete.svg') no-repeat center;
}
.edit {
  background:url('../../../core/img/actions/rename.svg') no-repeat center;
}
.upload {
  background:url('../../../core/img/actions/upload.svg') no-repeat center;
}
/* .cloud {
  background:url('../../../core/img/places/picture.svg') no-repeat center;
} */

