/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2013 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

#edit_photo_dialog {
  text-align:center;
}
#edit_photo_dialog form#cropform {
  display:inline-block;
}

/* #edit_photo_dialog_img { */
/*   display: block; min-width: 150; min-height: 200; */
/* } */
#musician_photo {
  float: left; margin: 1em;
}
#cropbox {
  margin: auto;
}
#file_upload_form {
  width: 0;
  height: 0;
}
#file_upload_target, #import_upload_target, #crop_target {
  display:none;
}
#file_upload_start, #import_upload_start {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0;
  z-index:1001;
  width:0;
  height:0;
}
#cafevdb_inline_image_wrapper {
  height: auto;
  width: auto;
}

#cafevdb_inline_image_wrapper.project_flyer {
  min-height: 300px;
}

#cafevdb_inline_image_wrapper.portrait {
  min-height: 100px;
}

#cafevdb_inline_image_wrapper.wait {
  opacity: 0.6;
  filter:alpha(opacity=0.6);
  z-index:1000;
  background: url('../../../core/img/loading.gif') no-repeat center center;
  cursor: wait;
}

.cafevdb_inline_image {
  border-radius: 0.5em;
  border: thin solid #bbb;
  margin: 0.3em;
  background: url('../../../core/img/loading.gif') no-repeat center center; -moz-box-shadow: 0 1px 3px #777;
  webkit-box-shadow: 0 1px 3px #777;
  box-shadow: 0 1px 3px #777;
  opacity: 1;
  /* position:relative;*/
  /*top:3px; / * for FF */
}

.cafevdb_inline_image:hover {
  background: #000;
  cursor: zoom-in;
}

.ui-dialog.ui-widget.photo-zoom {
  overflow:hidden;
  max-height:100% !important;
  max-width:100% !important;
}

div#photooverlay {
  background: #000;
  overflow:hidden;
  border-radius:4px;
  padding:0.5em;
  vertical-align:middle;
  display:inline-block !important;
}

div#photooverlay:hover,
div#photooverlay .cafevdb_inline_image:hover {
  cursor: zoom-out;
}

#phototools {
  position:absolute;
  margin: 5px 0 0 10px;
  width:auto; height:22px;
  padding:0px;
  background-color:#fff;
  list-style-type:none;
  border-radius: 0.5em;
  moz-box-shadow: 0 1px 3px #777;
  webkit-box-shadow: 0 1px 3px #777;
  box-shadow: 0 1px 3px #777;
}
#phototools li {
  display: inline;
}
#phototools li a {
  float:left;
  cursor:pointer;
  width:22px;
  height:22px;
  opacity: 0.6;
}
#phototools li a:hover {
  opacity: 0.8;
}
/**************************************************************************
 *
 * Icons.
 *
 */
.add {
  background:url('../../../core/img/actions/add.svg') no-repeat center;
  clear: both;
}
.delete {
  background:url('../../../core/img/actions/delete.svg') no-repeat center;
}
.edit {
  background:url('../../../core/img/actions/rename.svg') no-repeat center;
}
.upload {
  background:url('../../../core/img/actions/upload.svg') no-repeat center;
}
.cloud {
  background:url('../img/cloud-icon.svg') no-repeat center;
}

/*
 * LocalVariables: ***
 * css-indent-offset: 2 ***
 * End: ***
 */
