/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2013 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*******************************************************************************
 *
 * project instruments dialog
 *
 */

/* make popups scrollable in smaller viewports */
.ui-dialog.cafevdb-musician-instruments {
  max-height: 75% !important;
  /*top: 15% !important;*/
  /* At least firefox has problems with overflow-x and
     * overflow-y. Also konqueror (webkit) */
  /* overflow-x: hidden; */
  /* overflow-y: visible; */
  overflow: visible;
  padding: 0;
}

#add-instruments-block {
  padding: 0;
}

/* Make the dialog somewhat smaller, otherwise the select 'family' box
yields scrollbars and will be hidden */
div.pme-table-container.Instruments {
    height:25em !important;
    background-color: #F2F8FF;
}

#add-instruments-block select.musician-instruments {
  width: 20em;
}

.ui-dialog.cafevdb-musician-instruments .ui-dialog-buttonpane {
  margin-top: 0;
}

.ui-dialog.cafevdb-musician-instruments .ui-dialog-buttonpane { 
  padding: 0;
}

.ui-dialog.cafevdb-musician-instruments .ui-dialog-buttonpane .ui-dialog-buttonset { 
  width: 100%;
}

.ui-dialog.cafevdb-musician-instruments button {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.ui-dialog.cafevdb-musician-instruments button.save {
  float: left;
}

.ui-dialog.cafevdb-musician-instruments button.cancel {
  float: right;
}

