/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2013 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Special settings for small devices */

@media only screen and (max-width: 768px) {

  table.pme-main td[class*="pme-navigation"] .graphic-links {
    display:none;
  }

  table.pme-main td[class*="pme-navigation"]:not(.pme-misc) {
    width:0px !important;
    padding:0px !important;
  }

  .ui-dialog, .ui-dialog.pme-table-dialog {
    left:0px !important;
    top:0px !important;
    max-height: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
  }

  .ui-dialog .ui-dialog-content,
  .ui-dialog.pme-table-dialog .ui-dialog-content {
    overflow:auto !important;
    padding:0.3em !important;
  }

  #emailformcomposer, #emailformrecipients {
    overflow-x: auto !important;
  }

  #emailformdebug {
    width:auto !important;
  }

  .popup.topright {
    left: 0px !important;
    top: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    padding: 0px !important;
  }

  #appsettings_popup div.personalblock.cafevdb.about {
    max-width: unset !important;
    width: unset !important;
    min-width: unset !important;
    min-height: unset !important;
  }

  #appsettings_popup div.personalblock.admin {
  }

  .ui-dialog.chosen-popup-dialog {
    overflow: visible !important;
  }

  .ui-dialog .ui-dialog-content.chosen-popup-dialog {
    overflow: initial !important;
  }

  fieldset#cafevdb-email-composition-fieldset {
    min-width:unset !important;
  }

  /* Tabs will display in multiple lines ... */
  div.pme-table-dialog tr.table-tabs td li.table-tabs {
    float:right !important;
  }
  
  div.pme-table-dialog tr.table-tabs td li.selected {
    float:left !important;
  }

  div.pme-table-dialog td.pme-buttons input:disabled {
    display:none;
  }
  
  .bloglist li.blogentry {
    margin-right: 0.5ex !important;
  }

  .bloglist .blogentrytitle {
    margin-top: 20px;
  }

  div#blogedit {
    padding:0px;
  }

  div#blogedit div.mce-container {
    border-width: 0px !important;
  }

  #cafevdb-page-blog-header {
    background-image:unset !important;
    padding-left: 0px !important;
  }
}

/*
 * Local Variables: ***
 * css-indent-offset: 2 ***
 * cssm-indent-level: 2 ***
 * cssm-indent-mirror-mode: t ***
 * cssm-newline-before-closing-bracket: t ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
