/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Navigation snapper settings, stolen from core/css/mobile.css */

@media only screen {

/* APP SIDEBAR TOGGLE and SWIPE ----------------------------------------------*/

#app-navigation,
#app-content {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#app-navigation {
	width: 250px !important;
}

#app-content {
	width: 100% !important;
	left: 0 !important;
	background-color: #fff;
	overflow-x: hidden !important;
	/*z-index: 50;*/
}

.popup {
  z-index:110;
}

/* allow horizontal scrollbar in settings
	otherwise user management is not usable on mobile */
#body-settings #app-content {
	overflow-x: auto !important;
}

#app-navigation-toggle {
	position: absolute;
	display: inline-block !important;
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	z-index: 200;
	background-color: rgba(255, 255, 255, .7);
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6;
}
#app-navigation-toggle:hover,
#app-navigation-toggle:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* controls bar for mobile */
#controls {
	position: absolute;
	top: 0px;
	min-width: initial !important;
	width: auto !important;
	left: 0 !important;
	padding-left: 0;
        z-index: 90;
}
/* position controls for apps with app-navigation */
#app-navigation+#app-content #controls {
    padding-left: 44px;
}

/* fix controls bar jumping when navigation is slid out */
.snapjs-left #app-navigation-toggle,
.snapjs-left #controls {
	top: 0;
}
.snapjs-left table.multiselect thead {
	top: 44px;
}

/* end of media query */
}
