table.pme-main {
  border:#004d9c 1px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:auto;
}
table.pme-navigation {
  border:#004d9c 0px solid;
  border-collapse:collapse;
  border-spacing:0px;
}

th[class|='pme-header']	{
  border:#004d9c 1px solid;
  padding:4px;
  background:#add8e6;
}

td.negative { 
  color:#FF0000;
}

td.pme-cell-0-money, td.pme-cell-1-money {
  text-align:right;
}

td[class|='pme-key'], td[class|='pme-value'],
td[class|='pme-help'], td[class|='pme-navigation'],
td[class|='pme-cell'], td[class|='pme-sortinfo'],
td[class|='pme-filter'], td[class|='pme-queryinfo'] {
  border:#004d9c 1px solid;
  padding:3px;
}
td.pme-buttons {
  text-align:left;
  vertical-align:middle;
}
td.pme-message {
  text-align:center;
}
td.pme-stats   {
  text-align:right;
  padding-left:10ex;
}

td[class|='pme-cell-0'] {
  background:#B7CEEC;
}
td[class|='pme-cell-1'] {
  background:#C6DEFF;
}

/* Hide everything but the first line */
td.pme-cell-0-rcpt, td.pme-cell-1-rcpt,
td.pme-cell-0-msg, td.pme-cell-1-msg,
td.pme-cell-0-cc, td.pme-cell-1-cc,
td.pme-cell-0-bcc, td.pme-cell-1-bcc { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
/*  white-space:normal;*/
  overflow:hidden;
}

td.pme-value-0-msg, td.pme-value-1-msg {
  max-width:80ex;
  /*font-size:25%;*/
  white-space:normal;
  text-wrap:normal;
}

td.pme-cell-0-instruments, td.pme-cell-1-instruments,
td.pme-cell-0-projects, td.pme-cell-1-projects { 
  width:20em;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Hide everything but the first line */
td.pme-cell-0-remarks, td.pme-cell-1-remarks,
td.pme-cell-0-projectremarks, td.pme-cell-1-projectremarks,
td.pme-cell-0-rehearsalremarks, td.pme-cell-1-rehearsalremarks { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Make all remarks shorter */
td.pme-cell-0-remarks:first-line, td.pme-cell-1-remarks:first-line,
td.pme-cell-0-remarks p:nth-child(1):first-line, td.pme-cell-1-remarks p:nth-child(1):first-line,
td.pme-cell-0-projectremarks:first-line, td.pme-cell-1-projectremarks:first-line,
td.pme-cell-0-projectremarks p:nth-child(1):first-line, td.pme-cell-1-projectremarks p:nth-child(1):first-line,
td.pme-cell-0-rehearsalremarks:first-line, td.pme-cell-1-rehearsalremarks:first-line,
td.pme-cell-0-rehearsalremarks p:nth-child(1):first-line, td.pme-cell-1-rehearsalremarks p:nth-child(1):first-line {
  font-size:400%; /* seem to be relative to !first-line */
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

table.pme-main [class^="chosen"] {
  border-radius: 0.5em !important;
  background-color: rgb(244, 244, 244) !important;
}


/*
 * Local Variables: ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
