/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2020 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

html:not(.ie8) input[type="checkbox"].pme-input + span.pme-label::before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	background: url('../img/actions/checkbox.svg') left top no-repeat;
	opacity: 0.7;
}

/* ie8 doesn't support :checked */
html:not(.ie8) input[type="checkbox"].pme-input {
	position: absolute;
	left:-10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

html:not(.ie8) input[type="checkbox"].pme-input:checked + span.pme-label::before {
  background-image: url('../img/actions/checkbox-checked.svg');
}

/*******************************************************************************
 *
 * list view within jQuery dialogs, let them look like the ones
 * outside ... copied from OC, will have to be changed when OC changes.
 *
 */
.ui-widget form.pme-form.pme-list input {
  font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

/*******************************************************************************
 *
 * no padding
 *
 */

#pme-table-dialog form.pme-form {
  padding: 0;
}

/*******************************************************************************
 *
 * play with animation
 *
 */

@keyframes busyfading {
  from {
    opacity:1;
  }
  to {
    opacity:0.1;
  }
}

/*******************************************************************************
 *
 * "table" tabs
 *
 */

tr.table-tabs {
  background-color:inherit;
}

tr.table-tabs td li.table-tabs {
  float:left;
  position:relative;
  top:0px;
  margin:1px 0.2em 0px 0px;
  padding:0px;
  white-space:nowrap;
  color:#555;
  font-weight:bold;
  border:1px solid #DDD;
  overflow:hidden;
  text-overflow:ellipsis;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  line-height:1.3;
  background: url('../img/css/ui-bg_glass_100_f8f8f8_1x400.png') repeat-x scroll 50% 50% #F8F8F8;
  border-bottom-width:0px;
  opacity:0.9;
}

tr.table-tabs td li a {
  float:left;
  padding:0.5em 1em;
  color:#555;
}

tr.table-tabs td li.selected a {
  color:#1D2D44;
}

tr.table-tabs td li.selected {
  margin-bottom:-3px;
  padding-bottom:3px;
  border:1px solid #1D2D44;
  opacity:1.0;
}

tr.table-tabs ul.table-tabs {
  display: flex;
  flex-wrap: nowrap;
  line-height:1.3;
  border-radius:4px;
  list-style:none outside none;
  margin:0px;
  padding:0.2em 0.2em 0px;
  border:1px solid #1D2D44;
  color:#FFF;
  font-weight:bold;
  font-size:100%;
  background: url('../img/css/ui-bg_flat_35_1d2d44_40x100.png') repeat-x scroll 50% 50% #1D2D44;
  overflow:hidden;
  margin-bottom:-2px;
  z-index:1;
}

/* Do we really need these??? */
form.pme-form th[class*=tab-],
form.pme-form td[class*=tab-] {
  display:none;
}

/**Display data on every tab. */
form.pme-form tr th.tab-all,
form.pme-form tr td.tab-all {
  display:table-cell;
}

/**Display all tabs. */
form.pme-form table.pme-main.tab-all tr th,
form.pme-form table.pme-main.tab-all tr  td {
  display:table-cell;
}

/**Otherwise diplay is triggerred by "diagonal" CSS classes */
form.pme-form table.pme-main.tab-0 th.tab-0,
form.pme-form table.pme-main.tab-0 td.tab-0 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-1 th.tab-1,
form.pme-form table.pme-main.tab-1 td.tab-1 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-2 th.tab-2,
form.pme-form table.pme-main.tab-2 td.tab-2 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-3 th.tab-3,
form.pme-form table.pme-main.tab-3 td.tab-3 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-4 th.tab-4,
form.pme-form table.pme-main.tab-4 td.tab-4 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-5 th.tab-5,
form.pme-form table.pme-main.tab-5 td.tab-5 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-6 th.tab-6,
form.pme-form table.pme-main.tab-6 td.tab-6 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-7 th.tab-7,
form.pme-form table.pme-main.tab-7 td.tab-7 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-8 th.tab-8,
form.pme-form table.pme-main.tab-8 td.tab-8 {
  display:table-cell;
}

form.pme-form table.pme-main.tab-9 th.tab-9,
form.pme-form table.pme-main.tab-9 td.tab-9 {
  display:table-cell;
}

/*******************************************************************************
 *
 * PME table popups
 *
 */
/* make popups scrollable in smaller viewports */
.ui-dialog.pme-table-dialog {
  max-height: 90% !important;
  max-width: 90% !important;
  overflow: hidden;
  padding: 0;
}

.ui-dialog.pme-table-dialog .ui-dialog-content {
  /* height has to be computed in order to attach the vertical
   * scrollbar to the inner div.
   */
  overflow-y: auto;
  overflow-x: hidden;
  /*overflow: auto;*/
}

/* Hide the dialog behind the modal layer during loading of slow
 * elements.
 */
.pme-table-dialog-blocked {
  z-index: 90 !important;
}

.pme-table-dialog-blocked .ui-dialog-titlebar {
  animation: busyfading 3s ease infinite alternate;
}

#pme-table-container tr.pme-navigation a.chosen-single {
/*  line-height:15px;*/
  margin:3px 3px 3px 0px;
}

.ui-dialog #pme-table-container tr.pme-navigation div.chosen-container,
.ui-dialog #pme-table-container tr.pme-navigation select,
.ui-dialog #pme-table-container tr.pme-navigation input {
  float:left;
}

.ui-dialog .pme-table-container tr.pme-navigation {
  position: relative;
}

.ui-dialog .pme-table-container tr.pme-navigation input.pme-reload {
  position: absolute;
  right: 0px;
  width: 27px;
  height: 27px;
  background-size: 24px 24px;
  margin: 3px;
}

.ui-dialog #pme-table-container table.pme-navigation {
  width: 100%;
}

/*******************************************************************************
 *
 * Select boxes via chosen etc.
 *
 */

tr.pme-navigation .listall {
  display:none;
}

.pme-goto div,
.pme-pagerows div,
.pme-menu-block div,
.pme-export-block div {
  vertical-align:middle;
  font-weight:bold;
}

.pme-export-block select,
.pme-export-block select option,
.pme-menu-block select,
.pme-menu-block select option {
  vertical-align:middle;
  font-weight:bold;
  padding-right:1.5em!important;
}

.pme-export-choice.chosen-container,
.pme-goto .chosen-container,
.pme-pagerows .chosen-container {
  height:28px;
}

.pme-goto .chosen-container,
.pme-pagerows .chosen-container {
  min-width:4em;
}

.pme-export-block a.chosen-default span,
.pme-menu-block a.chosen-default span {
  /*font-weight:bold;*/
  color:#555;
}

.ui-widget.ui-dialog form.pme-form.pme-list tr.pme-navigation input.pme-reload {
  width: 30px!important;
  height: 30px!important;
}

.ui-widget form.pme-form.pme-list .pme-menu-block a.chosen-default span:hover,
.ui-widget form.pme-form.pme-list .pme-menu-block a.chosen-default span:focus,
.ui-widget form.pme-form.pme-list .pme-menu-block a.chosen-default span:active,
.pme-menu-block a.chosen-default span:hover,
.pme-menu-block a.chosen-default span:focus,
.pme-menu-block a.chosen-default span:active,
.pme-export-block a.chosen-default span:hover,
.pme-export-block a.chosen-default span:focus,
.pme-export-block a.chosen-default span:active {
  /*font-weight:bold;*/
  color:#333;
}

.pme-goto a.chosen-single,
.pme-pagerows a.chosen-single,
.pme-menu-block a.chosen-single,
.pme-export-block a.chosen-single,
.ui-widget form.pme-form.pme-list .pme-goto a.chosen-single,
.ui-widget form.pme-form.pme-list .pme-pagerows a.chosen-single,
.ui-widget form.pme-form.pme-list .pme-menu-block a.chosen-single {
  height: auto;
  background: transparent;
  background-repeat:no-repeat;
  box-shadow: none;
  outline: medium, none;
  margin: 0px 0px 3px 0px !important;
  background-color: rgba(240, 240, 240, 0.9);
  color: #555;
  border: 1px solid rgba(190, 190, 190, 0.9);
  padding: 4px 4px 4px 4px;
  height:28px;
  line-height: 19px;
  font-size: 13px;
}

.ui-widget form.pme-form.pme-list .pme-goto a.chosen-single,
.ui-widget form.pme-form.pme-list .pme-pagerows a.chosen-single,
.ui-widget form.pme-form.pme-list .pme-menu-block a.chosen-single {
  margin: 3px 0px 3px 0px !important;
}

.pme-goto a.chosen-single:hover, .pme-goto a.chosen-single:focus,
.pme-pagerows a.chosen-single:hover, .pme-pagerows a.chosen-single:focus,
.pme-export-block a.chosen-single:hover, .pme-export-block a.chosen-single:focus,
.pme-menu-block a.chosen-single:hover, .pme-menu-block a.chosen-single:focus {
  background-color:rgba(250,250,250,.9);
  color:#333;
}

.pme-menu-block a.chosen-single,
.pme-export-block a.chosen-single {
  border-radius: 3px;
}

.ui-widget form.pme-form.pme-list .pme-goto a.chosen-single,
.ui-widget form.pme-form.pme-list .pme-pagerows a.chosen-single,
.pme-goto a.chosen-single,
.pme-pagerows a.chosen-single {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pme-goto ul.chosen-results li,
.pme-pagerows ul.chosen-results li {
  text-align: right;
}


.ui-widget form.pme-form.pme-list span.pme-goto input.pme-goto:focus,
/*span.pme-goto input.pme-goto:hover,*/
.ui-widget form.pme-form.pme-list span.pme-goto input.pme-goto:active,
.ui-widget form.pme-form.pme-list span.pme-goto input.pme-goto,
.ui-widget form.pme-form.pme-list span.pme-pagerows input.pme-pagerows:focus,
/*span.pme-pagerows input.pme-pagerows:hover,*/
.ui-widget form.pme-form.pme-list span.pme-pagerows input.pme-pagerows:active,
.ui-widget form.pme-form.pme-list span.pme-pagerows input.pme-pagerows,
span.pme-goto input.pme-goto:focus,
/*span.pme-goto input.pme-goto:hover,*/
span.pme-goto input.pme-goto:active,
span.pme-goto input.pme-goto,
span.pme-pagerows input.pme-pagerows:focus,
/*span.pme-pagerows input.pme-pagerows:hover,*/
span.pme-pagerows input.pme-pagerows:active,
span.pme-pagerows input.pme-pagerows {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: rgba(240,240,240,.9) !important;
  cursor: default;
  text-align:right;
  margin-right:0px;
  border-right:0px;
  padding-right:3px;
}

/*******************************************************************************
 *
 * Hide some virtual extra controls by default
 *
 */

td.chosen-hidden div.chosen-container,
td.select-hidden select {
    display: none;
}

/*******************************************************************************
 *
 * PME general stuff
 *
 */

form.pme-form textarea:not(.wysiwyg-editor) {
  overflow-x:hidden; /* fix FF extra-line bug */
  width:unset;
}

form.pme-form {
  padding-left:1ex;
  background-color:#f2f8ff;
  width:auto;
}

form.pme-form input[type=text] {
  width:auto;
  vertical-align:middle;
}

.pme-form tr,.pme-form tr:hover,.pme-form tr:active {
  background-color:inherit;
}

a.pme-cell:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

.pme-cellg>a:not(.ui-tabs-anchor):link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell>a:not(.ui-tabs-anchor):visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell>a:not(.ui-tabs-anchor):hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

hr.pme-hr {
  border:0px solid;
  padding:0px;
  margin:0px;
  border-top-width:1px;
  height:1px;
}

/* Style the "refresh button", reduce the size, remove the text, add a
 * nice background image.
 */
.pme-navigation input.pme-reload {
  /*background-image:url('../img/view-refresh-greyscale.png');*/
  background-image:url('../img/reload.svg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size:24px 24px;
  width:28px;
  height:28px;
  vertical-align:middle;
  margin-top:0px;
  text-indent: -99999px;
  margin-left:48px;
}

.pme-navigation input.pme-reload.loading {
  /*background-image:url('../img/view-refresh-greyscale.png');*/
  background-image:url('../../../core/img/loading.gif');
}

:not(.lt-ie9) input.pme-email-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-email-check {
  width:24px;
  height:24px;
  background:url(../img/e_mail.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-email-check[type=checkbox]:checked ~ div.pme-email-check {
  width:24px;
  height:24px;
  background:url(../img/e_mail_checked.png);
  vertical-align:middle;
}

:not(.lt-ie9) input.pme-bulkcommit-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-bulkcommit-check {
  width:24px;
  height:24px;
  background:url(../img/eighthrest24.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-bulkcommit-check[type=checkbox]:checked ~ div.pme-bulkcommit-check {
  width:24px;
  height:24px;
  background:url(../img/eighthnote24.png);
  vertical-align:middle;
}

.pme-navigation.graphic-links input {
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
  min-height:unset;
  padding:unset;
}

input.pme-view-navigation {
  background:url(../img/pme-view.png) no-repeat !important;
}

input.pme-copy-navigation {
  background:url(../img/pme-copy.png) no-repeat !important;
}

input.pme-change-navigation {
  background:url(../img/pme-change.png) no-repeat !important;
}

input.pme-delete-navigation {
  background:url(../img/pme-delete.png) no-repeat !important;
}

:not(.lt-ie9) input.pme-sort[type=checkbox] {
  display:none;
}
div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* text-align:center; */
  font-style:italic;
  opacity:0.2;
  display:inline-block;
  cursor:pointer;
}
input.pme-sort[type=checkbox]:checked ~ div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* background:url(../img/sortierfeld.png); */
  /* text-align:center; */
  opacity:1.0;
  display:inline-block;
}
input.pme-sort-rvrt[type=submit] {
  background-image:url('../img/ok_process-16x16.png');
  background-repeat:no-repeat;
  background-position:0px;
  background-origin:padding-box;
  background-clip:padding-box;
  min-height:16px;
  padding-left:16px;
  overflow:visible;
}

.pme-navigation .pme-buttons input[type=submit] {
  min-height:unset;
  background-repeat:no-repeat;
  height:28px;
  vertical-align:middle;
  /*margin-top: 0px;*/
}

input.pme-email-[type=submit] {
  background-image:url('../img/e_mail_X.png');
  width:28px;
  font-size:0pt;
}
input.pme-email+[type=submit] {
  background-image:url('../img/e_mail_checked.png');
  width:28px;
  font-size:0pt;
}
input.pme-email[type=submit] {
  background-image:url('../img/e_mail.png');
  background-position:0px;
  padding-left:24px;
}

input.pme-bulkcommit-[type=submit] {
  background-image:url('../img/eighthrest24.png');
  width:28px;
  font-size:0pt;
}
input.pme-bulkcommit+[type=submit] {
  background-image:url('../img/eighthnote24.png');
  width:28px;
  font-size:0pt;
}

/* input.pme-bulkcommit[type=submit] { */
/*   background-image:url('../img/eighthnote24.png'); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   padding-left:24px; */
/*   /\*padding-top:0px;*\/ */
/*   min-height:28px; */
/*   vertical-align:middle; */
/*   /\* border-radius:4px; *\/ */
/* } */

/* input.pme-email[type=submit]:selected { */
/*   background-image:url(../img/e_mail.png); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   background-origin:padding-box; */
/*   background-clip:padding-box; */
/*   padding-left:24px; */
/*   min-height:28px; */
/*   vertical-align:middle; */
/* } */

td.pme-buttons > .pme-email {
  white-space:nowrap;
}
td.pme-buttons > .pme-bulkcommit {
  white-space:nowrap;
}

td.pme-buttons > .pme-goto {
  white-space:nowrap;
}

td.pme-buttons > .pme-pagerows {
  white-space:nowrap;
}

/*******************************************************************************
 *
 * PME table layout (more pme stuff)
 *
 */

form.pme-form.pme-view table.pme-main {
  white-space: normal;
}

table.pme-main {
  background-color:#f2f8ff;
  border:#004d9c 1px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:auto;
}
table.pme-navigation {
  background-color:#f2f8ff;
  border:#004d9c 0px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:100%;

}

td.pme-header, th.pme-header {
  vertical-align:bottom;
  border:#004d9c 1px solid;
  padding:4px;
  background:#add8e6;
}

td.pme-filter.pme-sys,
td.pme-sys {
  vertical-align:middle;
}

td.pme-sys input[type=submit],
th.pme-sys input[type=submit] {
  width:100%;
}

th.pme-header.pme-sys input[type=submit] {
  line-height:100%;
}

td.pme-header, th.pme-header, th.pme-header.pme-sys {
  vertical-align:top;
}

td.pme-navigation, th.pme-navigation {
  white-space:nowrap;
  background:#C6DEFF;
}

td.pme-sortinfo, td.pme-queryinfo {
  background:#C6DEFF;
  max-width: 60em;
  overflow:hidden;
  text-overflow:ellipsis;
}

form.pme-form .tab-all {
  /* display:none; */
}

td.negative {
  color:#FF0000;
}

td.align-right, td.pme-cell.align-right, td.pme-cell.money {
  text-align:right;
}

.align-center, td.align-center, td.pme-cell.align-center {
  text-align:center;
}

td.pme-key, td.pme-value,
td.pme-help, td.pme-navigation, th.pme-navigation,
td.pme-cell, td.pme-sortinfo,
td.pme-filter, th.pme-filter, td.pme-queryinfo {
  border:#004d9c 1px solid;
  padding:3px;
  text-align:left;
}
td.pme-buttons {
  text-align:left;
  vertical-align:middle;
}
td.pme-message {
  text-align:center;
}
td.pme-stats   {
  text-align:right;
  padding-left:1em;
  padding-right:0.5em;
}

td.pme-cell.pme-0 {
  background:#B7CEEC;
}
td.pme-cell.pme-1 {
  background:#C6DEFF;
}

td.projectflyer {
  max-width:90%;
  white-space:normal;
}

td.projectflyer img {
  height:300px;
}

td.photo {
  max-width:90%;
  white-space:normal;
}

td.photo img {
  min-height:100px;
  max-height:200px;
  height:200px;
}

div#contact_photo_upload {
  min-height:100px;
}

div#project_flyer_upload {
  min-height:300px;
}

td.pme-cell.clip-long-text,
td.pme-cell .clip-long-text,
td.pme-cell.musician-instruments {
  width:12em;
  max-width:12em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

td.pme-cell span.clip-long-text {
  max-height:unset;
  display:inline-block;
  vertical-align:top;
}

td.pme-cell.medium-width,
td.pme-cell .medium-width {
  width:12em;
  max-width:12em;
}

td.pme-cell.short-width,
td.pme-cell .short-width {
  width:8em;
  max-width:8em;
}

td.pme-cell.tiny-width,
td.pme-cell .tiny-width {
  width:4em;
  max-width:4em;
}

td.pme-cell.projects {
  width:15em;
  max-width:15em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

td.pme-value.projects {
  width:38em;
  max-width:38em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

td.pme-cell.user-groups {
  width:12em;
  max-width:12em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

td.pme-cell.projectextra {
  width:15em;
  max-width:15em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

td.pme-value.projectextra {
  width:38em;
  max-width:38em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

th.pme-header.mandate-project, td.pme-cell.mandate-project {
  width:15em;
  min-width:15em;
  max-width:15em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/* Hide everything but the first line */
table.pme-main td.pme-cell.remarks,
table.pme-main td.pme-cell.hide-subsequent-lines {
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/* Make all remarks shorter */
table.pme-main td.pme-cell.remarks::first-line,
table.pme-main td.pme-cell.remarks p:nth-child(1)::first-line,
table.pme-main td.pme-cell.hide-subsequent-lines::first-line,
table.pme-main td.pme-cell.hide-subsequent-lines p:nth-child(1)::first-line {
  font-size:400%; /* seems to be relative to !first-line */
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

table.pme-main td.pme-cell.hide-subsequent-lines .pme-cell-wrapper {
  line-height:100%;
  display:inline-block;
  max-height:2em;
}

table.pme-main td.pme-cell.hide-subsequent-lines .pme-cell-wrapper.halfed-sized {
  max-height:4em;
  font-size:50%;
}

table.pme-main td.pme-cell.hide-subsequent-lines .pme-cell-wrapper.quarter-sized {
  max-height:8em;
  font-size:25%;
}

/* Something special for the instrumentation. */
td.pme-cell div.projectinstrumentation {
  font-size:50%;
  line-height:100%;
  max-width:64ex;
  width:auto;
  max-height:4em;
  white-space:normal;
  overflow:hidden;
}

td.pme-value.projectinstrumentation {
  white-space:normal;
}

table.pme-main [class^="chosen"] {
  /* border-radius: 0.5em !important; */
  /* background-color: rgb(244, 244, 244) !important; */
  border-radius: 3px;
}

table.pme-main div.pme-filter div.chosen-container {
  box-sizing: border-box;
}

input.pme-filter {
  width:auto;
  white-space:nowrap;
}

form.pme-form select.pme-comp-filter ~ input[type="text"].pme-filter {
  width:auto;
  white-space:nowrap;
}

form.pme-form input[type="text"].pme-filter {
  box-sizing:border-box;
  margin-left:0px;
  margin-right:0px;
  width:100%;
  white-space:nowrap;
}

td.pme-filter, th.pme-filter {
  vertical-align:bottom;
  background:#C6DEFF;
}

table.pme-main div.pme-filter-negate {
  height:0px;
  width:0px;
  overflow:visible;
}

table.pme-main label.pme-filter-negate-label,
table.pme-main label.pme-filter-negate {
  vertical-align:top;
}

table.pme-main label.pme-filter-negate span,
table.pme-main label.pme-filter-negate-label span {
  display:inline-block;
  text-indent:-10000px;
  width:24px;
  height:24px;
  position:relative;
  top:-12px;
  background:url(../img/dont.svg);
  cursor:pointer;
  opacity:0.4;
  z-index:1;
}

table.pme-main label.pme-filter-negate input[type=checkbox]:checked ~ span,
table.pme-main label.pme-filter-negate-label input[type=checkbox]:checked ~ span {
  opacity:1.0;
  background:url(../img/dontred.svg);
}

table.pme-main label.pme-filter-negate input[type=checkbox],
table.pme-main label.pme-filter-negate-label input[type=checkbox] {
  display:none;
}

table.pme-main select.pme-filter {
  width:100%;
}

table.pme-main select.pme-filter.projects {
  width:auto;
}

/*Style links in a more ordinary fashion */
table.pme-main a:not(.ui-tabs-anchor, .chosen-single):link {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}
table.pme-main a:not(.ui-tabs-anchor, .chosen-single):visited {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}
table.pme-main a:not(.ui-tabs-anchor, .chosen-single):hover {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

table.pme-main li.nav {
  list-style:none;
}

table.pme-main li.nav.inline-block {
  display:inline-block;
  vertical-align:middle;
}

table.pme-main li.nav.inline-block > a.nav {
  min-height:unset;
  line-height:unset;
}

table.pme-main li.nav > a.nav {
  color:#000;
  text-decoration:none;
  font-weight:inherit;
}

table.pme-main li.nav:hover > a.nav,
table.pme-main li.nav:focus > a.nav {
  background-color:#DDD;
  color:#000;
  opacity:1;
  text-decoration:none;
  font-weight:inherit;
  font-style:normal;
}

table.pme-main li.nav > a.nav {
  display: block;
  width: 100%;
  line-height: 44px;
  min-height: 44px;
  padding: 0px 12px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  opacity: 0.57;
}

form.pme-form tr.pme-row:hover td.pme-cell,
form.pme-form tr.pme-row:hover td.pme-navigation {
  background-color: #9BAFC8;
}

table.pme-main .pme-queryinfo.pme-empty,
table.pme-main .pme-filter.pme-hidden {
  display:none !important;
}

table.pme-main tr.pme-header input.pme-hidden {
  display:none !important;
}

table.pme-main tr.pme-sortinfo.pme-default {
  display:none !important;
}

table.pme-main tr.pme-header input.pme-hide,
table.pme-main tr.pme-header input.pme-clear {
  display:block;
}

table.pme-main tr.pme-header th.pme-nosort {
  padding:1ex;
}

table.pme-main tbody td.pme-cell:not(.control),
table.pme-main tbody td.pme-navigation {
  cursor:pointer;
}

table.pme-main tbody td.pme-navigation div.graphic-links input.hide-disabled:disabled {
  display:none;
}

/*
 * Local Variables: ***
 * css-indent-offset: 2 ***
 * cssm-indent-level: 2 ***
 * End: ***
 */
