/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2013 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*******************************************************************************
 *
 * Export select via chosen
 *
 */

.pme-export-block div {
  vertical-align:middle;
  font-weight:bold;
}

.pme-export-block a.chosen-default span {
  /*font-weight:bold;*/
  color:#555;
}

.pme-export-block a.chosen-default span:hover,
.pme-export-block a.chosen-default span:focus,
.pme-export-block a.chosen-default span:active {
  /*font-weight:bold;*/
  color:#333;
}

.pme-export-block a.chosen-single {
  height: unset;
  background: unset;
  box-shadow: unset;
  border-radius: 3px;
  outline: medium, none;
  margin: 0px 0px 3px 0px;
  background-color: rgba(240, 240, 240, 0.9);
  color: #555;
  border: 1px solid rgba(190, 190, 190, 0.9);
  padding: 5px;
  line-height: 16px;
  font-size: 13px;
}

/*******************************************************************************
 *
 * PME general stuff
 *
 */

form.pme-form {
  padding-left:1ex;
  background-color:#f2f8ff;
  width:auto;
}

.pme-form tr,.pme-form tr:hover,.pme-form tr:active { 
  background-color:inherit;
}

a.pme-cell-1:link, a.pme-cell-0:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell-1:visited, a.pme-cell-0:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
a.pme-cell-1:hover, a.pme-cell-0:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

.pme-cell-1>a:link, .pme-cell-0>a:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell-1>a:visited, .pme-cell-0>a:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}
.pme-cell-1>a:hover, .pme-cell-0>a:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

hr.pme-hr {
  border:0px solid;
  padding:0px;
  margin:0px;
  border-top-width:1px;
  height:1px;
}

:not(.lt-ie9) input.pme-email-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-email-check {
  width:24px;
  height:24px;
  background:url(../img/e_mail.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-email-check[type=checkbox]:checked ~ div.pme-email-check {
  width:24px;
  height:24px;
  background:url(../img/e_mail_checked.png);
  vertical-align:middle;
}

:not(.lt-ie9) input.pme-bulkcommit-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-bulkcommit-check {
  width:24px;
  height:24px;
  background:url(../img/eighthrest24.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-bulkcommit-check[type=checkbox]:checked ~ div.pme-bulkcommit-check {
  width:24px;
  height:24px;
  background:url(../img/eighthnote24.png);
  vertical-align:middle;
}

input.pme-view-navigation {
  background:url(../img/pme-view.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-copy-navigation {
  background:url(../img/pme-copy.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-change-navigation {
  background:url(../img/pme-change.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}

input.pme-delete-navigation {
  background:url(../img/pme-delete.png) no-repeat !important;
  width:16px !important;
  height:15px !important;
  border:0 !important;
  font-size:0 !important;
  vertical-align:middle;
}
 
:not(.lt-ie9) input.pme-sort[type=checkbox] { 
  display:none;
}
div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* text-align:center; */
  font-style:italic;
  opacity:0.2;
  display:inline-block;
}
input.pme-sort[type=checkbox]:checked ~ div.pme-sort {
  /* width:93px; */
  /* height:14px; */
  /* background:url(../img/sortierfeld.png); */
  /* text-align:center; */
  opacity:1.0;
  display:inline-block;
}
input.pme-sort-rvrt[type=submit] {
  background-image:url('../img/ok_process-16x16.png');
  background-repeat:no-repeat;
  background-position:0px;
  background-origin:padding-box;
  background-clip:padding-box;
  min-height:16px;
  padding-left:16px;
  overflow:visible;
}

input.pme-email-[type=submit] {
  background-image:url('../img/e_mail_X.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
  margin-top: 0px;
}
input.pme-email+[type=submit] {
  background-image:url('../img/e_mail_checked.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
  margin-top: 0px;
}
input.pme-email[type=submit] {
  background-image:url('../img/e_mail.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  /*padding-top:0px;*/
  min-height:28px;
  vertical-align:middle;
  /* border-radius:4px; */
  margin-top: 0px;
}

input.pme-bulkcommit-[type=submit] {
  background-image:url('../img/eighthrest24.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
input.pme-bulkcommit+[type=submit] {
  background-image:url('../img/eighthnote24.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}
/* input.pme-bulkcommit[type=submit] { */
/*   background-image:url('../img/eighthnote24.png'); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   padding-left:24px; */
/*   /\*padding-top:0px;*\/ */
/*   min-height:28px; */
/*   vertical-align:middle; */
/*   /\* border-radius:4px; *\/ */
/* } */

input.pme-filter {
  width:auto;
  white-space:nowrap;
}

/* input.pme-email[type=submit]:selected { */
/*   background-image:url(../img/e_mail.png); */
/*   background-repeat:no-repeat; */
/*   background-position:0px; */
/*   background-origin:padding-box; */
/*   background-clip:padding-box; */
/*   padding-left:24px; */
/*   min-height:28px; */
/*   vertical-align:middle; */
/* } */

td.pme-buttons > .pme-email {
  white-space:nowrap;
}
td.pme-buttons > .pme-bulkcommit {
  white-space:nowrap;
}

td.pme-buttons > .pme-goto {
  white-space:nowrap;
}

td.pme-buttons > .pme-pagerows {
  white-space:nowrap;
}

/*******************************************************************************
 *
 * PME table layout (more pme stuff)
 *
 */

table.pme-main {
  border:#004d9c 1px solid;
  border-collapse:collapse;
  border-spacing:0px;
  width:auto;
}
table.pme-navigation {
  border:#004d9c 0px solid;
  border-collapse:collapse;
  border-spacing:0px;
}

td[class|='pme-header'], th[class|='pme-header'] {
  border:#004d9c 1px solid;
  padding:4px;
  background:#add8e6;
}

td[class|='pme-navigation'], th[class|='pme-navigation'] {
  white-space:nowrap;
  background:#C6DEFF;
}

td[class|='pme-sortinfo'], td[class|='pme-queryinfo']  {
  background:#C6DEFF;
}

td[class|='pme-filter'], th[class|='pme-filter'] {
  background:#C6DEFF;
}

td.negative { 
  color:#FF0000;
}

td.pme-cell-0-money, td.pme-cell-1-money {
  text-align:right;
}

td[class|='pme-key'], td[class|='pme-value'],
td[class|='pme-help'], td[class|='pme-navigation'], th[class|='pme-navigation'],
td[class|='pme-cell'], td[class|='pme-sortinfo'],
td[class|='pme-filter'], th[class|='pme-filter'], td[class|='pme-queryinfo'] {
  border:#004d9c 1px solid;
  padding:3px;
}
td.pme-buttons {
  text-align:left;
  vertical-align:middle;
}
td.pme-message {
  text-align:center;
}
td.pme-stats   {
  text-align:right;
  padding-left:10ex;
}

td[class|='pme-cell-0'] {
  background:#B7CEEC;
}
td[class|='pme-cell-1'] {
  background:#C6DEFF;
}

/* Hide everything but the first line */
td.pme-cell-0-rcpt, td.pme-cell-1-rcpt,
td.pme-cell-0-msg, td.pme-cell-1-msg,
td.pme-cell-0-cc, td.pme-cell-1-cc,
td.pme-cell-0-bcc, td.pme-cell-1-bcc { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
/*  white-space:normal;*/
  overflow:hidden;
}

td.pme-value-0-msg, td.pme-value-1-msg {
  max-width:80ex;
  /*font-size:25%;*/
  white-space:normal;
  text-wrap:normal;
}

td.pme-cell-0-instruments, td.pme-cell-1-instruments { 
  width:12em;
  max-width:12em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

td.pme-cell-0-projects, td.pme-cell-1-projects { 
  width:20em;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Hide everything but the first line */
td.pme-cell-0-remarks, td.pme-cell-1-remarks,
td.pme-cell-0-projectremarks, td.pme-cell-1-projectremarks,
td.pme-cell-0-rehearsalremarks, td.pme-cell-1-rehearsalremarks { 
  font-size:25%;
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Make all remarks shorter */
td.pme-cell-0-remarks:first-line, td.pme-cell-1-remarks:first-line,
td.pme-cell-0-remarks p:nth-child(1):first-line, td.pme-cell-1-remarks p:nth-child(1):first-line,
td.pme-cell-0-projectremarks:first-line, td.pme-cell-1-projectremarks:first-line,
td.pme-cell-0-projectremarks p:nth-child(1):first-line, td.pme-cell-1-projectremarks p:nth-child(1):first-line,
td.pme-cell-0-rehearsalremarks:first-line, td.pme-cell-1-rehearsalremarks:first-line,
td.pme-cell-0-rehearsalremarks p:nth-child(1):first-line, td.pme-cell-1-rehearsalremarks p:nth-child(1):first-line {
  font-size:400%; /* seem to be relative to !first-line */
  line-height:100%;
  max-width:20em;
  max-height:1em;
  white-space:nowrap;
  overflow:hidden;
}

/* Something special for the instrumentation. */
td[class^="pme-cell"] div.projectinstrumentation { 
  font-size:50%;
  line-height:100%;
  max-width:64ex;
  width:auto;
  max-height:4em;
  white-space:normal;
  overflow:hidden;
}

td.pme-value-1-projectinstrumentation, td.pme-value-0-projectinstrumentation {
  white-space:normal;
}

table.pme-main [class^="chosen"] {
  border-radius: 0.5em !important;
  background-color: rgb(244, 244, 244) !important;
}

table.pme-main select[class^="pme-filter"] {
  width:100%;
}

table.pme-main select.pme-filter-projects {
  width:auto;
}

/*Style links in a more ordinary fashion */
table.pme-main a:link {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}
table.pme-main a:visited {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}
table.pme-main a:hover {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}


/*
 * Local Variables: ***
 * cssm-indent-level: 2 ***
 * End: ***
 */
