/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*******************************************************************************
 *
 * detailed instrumentation table
 *
 */

div.project-participants form.pme-form:not(.pme-change) span.allowed-option-name:empty,
div.project-participants form.pme-form:not(.pme-change) span.allowed-option-name:empty + span.allowed-option-value {
    display:none;
}

div.project-participants form.pme-form:not(.pme-change) td.groupofpeople,
div.project-participants form.pme-form:not(.pme-change) td.groupofpeople-id,
div.project-participants form.pme-form:not(.pme-change) td.service-fee.set,
div.project-participants form.pme-form:not(.pme-change) td.service-fee.enum {
    min-width:10em;
}

div.project-participants form.pme-form:not(.pme-change) td.service-fee.enum {
    font-family:inherit;
}

div.project-participants form.pme-form:not(.pme-change) span.allowed-option-name {
    max-width:5em;
    float:left;
}

div.project-participants form.pme-form:not(.pme-change) span.allowed-option-value.money {
    float:right;
}

div.project-participants form.pme-form:not(.pme-change) span.allowed-option.group {
  width:100%;
}

div.project-participants form.pme-form.pme-view span.allowed-option-name,
div.project-participants form.pme-form.pme-delete span.allowed-option-name,
div.project-participants form.pme-form.pme-view span.allowed-option-value.money,
div.project-participants form.pme-form.pme-delete span.allowed-option-value.money {
    float:unset;
}

div.project-participants form.pme-form.pme-view td.service-fee span.allowed-option-name:after,
div.project-participants form.pme-form.pme-delete td.service-fee span.allowed-option-name:after {
    content: ": ";
}

div.project-participants form.pme-form.pme-add td.pme-key.service-fee.single-valued,
div.project-participants form.pme-form.pme-change td.pme-key.service-fee.single-valued,
div.project-participants form.pme-form.pme-copy td.pme-key.service-fee.single-valued,
div.project-participants form.pme-form.pme-view td.service-fee.set,
div.project-participants form.pme-form.pme-delete td.service-fee.set {
    position:relative;
}

div.project-participants form.pme-form.pme-change td.pme-key.service-fee.single-valued span.allowed-option-name.money,
div.project-participants form.pme-form.pme-add td.pme-key.service-fee.single-valued span.allowed-option-name.money,
div.project-participants form.pme-form.pme-delete td.pme-key.service-fee.single-valued span.allowed-option-name.money {
    margin-right:6em; /* leave room for absolute positioned money value */
}

div.project-participants form.pme-form.pme-change td.pme-key.service-fee.single-valued span.allowed-option-value.money,
div.project-participants form.pme-form.pme-add td.pme-key.service-fee.single-valued span.allowed-option-value.money,
div.project-participants form.pme-form.pme-delete td.pme-key.service-fee.single-valued span.allowed-option-value.money {
    position:absolute;
    right:1em;
}

div.project-participants form.pme-form.pme-view td.service-fee.set span.allowed-option-value.money,
div.project-participants form.pme-form.pme-delete td.service-fee.set span.allowed-option-value.money {
    font-family:monospace;
    font-size:120%;
    position:absolute;
    left:12em;
}

div.project-participants span.allowed-option-name ~ span.allowed-option-value {
    margin-left:1ex;
}

div.project-participants label.groupofpeople.predefined span.allowed-option {
  margin-left:1ex;
  display:none;
}

div.project-participants label.groupofpeople.predefined span.allowed-option.selected {
  display:unset;
  font-weight:bold;
}
