/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*******************************************************************************
 *
 * Further chosen stuff
 *
 */

.project-actions-block div {
  vertical-align:middle;
  font-weight:bold;
}

.project-actions-block .chosen-container .chosen-results {
  max-height:300px;
}

.project-actions-block a.chosen-default span {
  /*font-weight:bold;*/
  color:#555;
}

.project-actions-block a.chosen-default span:hover,
.project-actions-block a.chosen-default span:focus,
.project-actions-block a.chosen-default span:active {
  /*font-weight:bold;*/
  color:#333;
}

/* inter-item lines to group things together */
span.project-actions-block  ul.chosen-results li.group-result {
  display: block;
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #ccc;
}

td.pme-value.projectextra textarea {
  resize: vertical;
  width: 95%;
}

td.pme-value.projectinstrumentation div.chosen-container {
  max-width:40em;
  min-width:20em;
  width:auto !important;
}

div.cmsarticlecontainer {
  padding: 0 !important;
  /*height:0px;*/
  overflow:hidden;
}

#projectWebArticles {
  height: 0;
  overflow: hidden;
}

#cmsFrameLoader {
  position: relative;
  top: -7px;
  height: 0;
  width: 100%;
  overflow: visible;
  text-align: center;
}

#cmsFrameLoader img {
}

#projectArticle-linkpage {
  overflow:visible; /* for chosen */
  min-height:10em;
}

#projectArticle-linkpage [class^="chosen"] {
  border-radius:3px !important;
/*  border:1px solid #AAA;*/
  background-color: #FFF !important;
}

#cmsarticleselect_chosen {
  min-width:20em !important;
  width:auto;
}

ul#cmsarticletabs li {
    box-sizing:border-box;
    max-width:25%; // concert and rehearsals
}

ul#cmsarticletabs li.ui-tabs-active.ui-state-active {
    max-width:45%;
}

ul#cmsarticletabs li a {
    box-sizing:border-box;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}
