div.sepastatusblock {
  min-height: 4ex;
}

#sepa-debit-mandate-dialog input.mandateDate,
#sepa-debit-mandate-dialog input.lastUsedDate { 
  width: 6em;
}

input.no-sepa-debit-mandate {
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: .3;  
}

form#sepa-debit-mandate-form :disabled {
  opacity:1.0;
}