/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

div.sepastatusblock {
  min-height: 4ex;
}

#sepa-debit-mandate-dialog input.mandateDate,
#sepa-debit-mandate-dialog input.lastUsedDate {
  width: 6em;
}

#sepa-debit-mandate-dialog label {
  display:inline-block;
}

input.sepa-debit-mandate.missing-data {
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: .3;
}

form#sepa-debit-mandate-form :disabled {
  opacity:1.0;
}

form#sepa-debit-mandate-form label.sepa-validation-toggle {
  float:right;
}

form#sepa-debit-mandate-form input.sepa-validation-toggle {
  display:none;
}

form#sepa-debit-mandate-form div.sepa-validation-toggle {
  display:inline-block;
  width:24px;
  height:24px;
  background:url(../img/forgetit.png);
  cursor:pointer;
  vertical-align:middle;
}

form#sepa-debit-mandate-form input.sepa-validation-toggle:checked ~ div.sepa-validation-toggle {
  background:url(../img/letsdoit.png);
}

input.pme-debit-note-[type=submit] {
  background-image:url('../img/euro-x.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
  margin-top: 0px;
}
input.pme-debit-note+[type=submit] {
  background-image:url('../img/euro-yes.png');
  background-repeat:no-repeat;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
  margin-top: 0px;
}
input.pme-debit-note[type=submit] {
  background-image:url('../img/euro.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:24px;
  /*padding-top:0px;*/
  min-height:28px;
  vertical-align:middle;
  /* border-radius:4px; */
  margin-top: 0px;
}

:not(.lt-ie9) input.pme-debit-note-check[type=checkbox] {
  display:none;
  /* visibility:hidden; */
  /* position:fixed; */
  /* left:0px; */
  /* top:0px; */
}
:not(.lt-ie9) div.pme-debit-note-check {
  width:24px;
  height:24px;
  background:url(../img/euro.png);
  cursor:pointer;
  vertical-align:middle;
}
:not(.lt-ie9) input.pme-debit-note-check[type=checkbox]:checked ~ div.pme-debit-note-check {
  width:24px;
  height:24px;
  background:url(../img/euro-yes.png);
  vertical-align:middle;
}

/******************************************************************************
 *
 * debit job choices.
 *
 */

/* blend out amount and subject for predefined debit transfers. */
.pme-debit-note-job input.debit-note-amount,
.pme-debit-note-job input.debit-note-subject {
  display:none;
}

/* blend out amount and subject for predefined debit transfers. */
.pme-debit-note-job.custom ~ input.debit-note-amount,
.pme-debit-note-job.custom ~ input.debit-note-subject {
  display:inline-block;
}

.pme-debit-note-job input.debit-note-amount,
.pme-debit-note-job input.debit-note-subject {
  margin-top:0;
}

/******************************************************************************
 *
 * debit-note table
 *
 */

table.pme-main li.nav.inline-block > a.nav {
  min-height:unset;
  line-height:unset;
}

/*
 * Local Variables: ***
 * css-indent-offset: 2 ***
 * End: ***
 */
