div.statusmessage, span.statusmessage {
  font-style:italic;
  color:red;
  display:none;
}

input[type=button]:active, input[type=submit]:active {
  background-color:SteelBlue;
}

#emailtestmode {
  margin-left:4ex;
}

#emailsmtpfields div.chzn-container,
#emailimapfields div.chzn-container {
  vertical-align:middle;
  margin-right:1ex;
  margin-left:0.7ex;
  /*font-weight:bold;*/
}

#emailsmtpfields, #emailimapfields, #emailaccount, #emailidentity {
  margin-bottom:1ex;
}

#error.statusmessage, #equal.statusmessage, #insecure.statusmessage {
  font-weight:bold;
}

#appsettings_popup div.personalblock.admin {
  min-width:46em;
  min-height:28.5em;
}

#emailimapfields {
  display:inline;
}

#emailsmtpfields {
  display:inline;  
}