/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/

/* Ok, some of our tooltips need more space ... */
.tooltip-wide .tooltip-inner {
  max-width:40em;
  text-align:left;
}

.tooltip-verywide .tooltip-inner {
  max-width:60em;
  text-align:left;
}

.tooltip-mostwide .tooltip-inner {
  max-width:80em;
  text-align:left;
}

div.tooltip[role="tooltip"] ul,
div.tooltip[role="tooltip"] ol {
    list-style-position:inside!important;
    list-style-type:unset;
}

div.tooltip[role="tooltip"] dd {
   display: block;
   margin-left:1em;
}

div.tooltip[role="tooltip"] h1,
div.tooltip[role="tooltip"] h2,
div.tooltip[role="tooltip"] h3,
div.tooltip[role="tooltip"] h4,
div.tooltip[role="tooltip"] h5 {
    font-weight:bold;
}

div.tooltip[role="tooltip"] var,
div.tooltip[role="tooltip"] em {
    font-style:italic;
}

div.tooltip[role="tooltip"] code {
    font-family:monospace;
}

div.tooltip[role="tooltip"] samp,
div.tooltip[role="tooltip"] kbd,
div.tooltip[role="tooltip"] code {
    font-family:monospace;
}

div.tooltip[role="tooltip"] n,
div.tooltip[role="tooltip"] strong {
    font-weight:bold;
}

div.tooltip[role="tooltip"] a:link {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}

div.tooltip[role="tooltip"] a:visited {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}

div.tooltip[role="tooltip"] a:visited {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}
