js/**
css/**
package-lock.json
/
*~
lib/tooltips.php.new
\#*\#
.#*
vendor
composer.lock
composer.json
stamp*
ajax
build
.clipassword
doc/db-app/phpdoc/[!.]*
doc/db-app/doxygen/[!.]*
.phpdoc
lib/Database/Doctrine/ORM/Proxies/**
blah*
foo*
bar*
node_modules
**/*old*
current-key
dependencygraph.svg
/*.html
stats.json
