[submodule "3rdparty/bav"]
	path = 3rdparty/bav
	url = https://github.com/rotdrop/bav-occonf.git
	branch = occonf
[submodule "3rdparty/PHPMailer"]
	path = 3rdparty/PHPMailer
	url = https://github.com/rotdrop/PHPMailer-cafevdb.git
	branch = cafevdb
