/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

.recipients-select {
  button {
    min-height: unset;
  }
  @import 'bootstrap/scss/bootstrap';
  @import 'bootstrap4-duallistbox/dist/bootstrap-duallistbox';
  .bootstrap-duallistbox-container {
    input, select, button {
      background-color:#FFF;
    }
  }
}

/*****************************************************************************
 *
 * General stuff, background etc.
 *
 */

div#emailformwrapper {
  padding:0;
  background-color:#F2F8FF;
}

div#emailformwrapper .ui-tabs-nav {
  margin-bottom: 0;
}

.ui-dialog.emailform {
  overflow:hidden;
  max-height: 90%; /* !important;*/
  /*max-width: 90%; *//* !important;*/
}

/* dialog popup, header */

.ui-dialog.emailform div.ui-dialog-titlebar {
  padding-bottom:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom:0;
}
#emailformwrapper > div {
  height:auto !important;
  overflow-y:auto;
  overflow-x:hidden;
}

#emailformdialog {
  padding:0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

ul#emailformtabs {
  padding-top:0;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-top:0;
}

#emailformdialog fieldset.page {
  min-width:65em;
}

#emailformdialog tr.spacer.below td {
  height:0px;
  padding-bottom:1em;
}

#emailformdialog tr.spacer.below.rule td {
  height:1px;
  border-bottom:1px solid #808080;
}

/*****************************************************************************
 *
 * recipients filters
 *
 */

#emailformdialog #emailformrecipients {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0px !important;
}

/*****************************************************************************
 *
 * status messages
 *
 */

#emailformdialog #emailformdebug {
  height:auto;
  width:65em;
  max-width:65em;
  overflow:auto;
}

/*****************************************************************************
 *
 * email composition
 *
 */

#emailformdialog #emailformcomposer  {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0px !important;
}

form#cafevdb-email-form td.caption {
  font-weight:bold;
  vertical-align:top;
}

fieldset.email-composition.page {
  margin-bottom:1em;
}

form#cafevdb-email-form {

  fieldset.page {
    max-width:65em;
    padding-right:1.2em;
  }
  tr.attachments td {
    vertical-align:middle;
  }
  tr.attachments button {
    background-color:#C6DEFF;
    vertical-align:middle;
    height:28px;
    width:34px;
    padding:5px;
    border-style:outset;
  }
  tr.attachments button.cloud {
    padding:5px 0px 5px 0px;
  }
  tr.attachments button.cloud img {
    width:26px;
  }
  tr.attachments button.events {
    padding:0px;
  }
  tr.attachments button.events img  {
    vertical-align:top;
    height:26px;
  }
  tr.eventattachments img {
    height:10px;
    vertical-align:top;
  }
  tr.eventattachments button {
    background-color:#C6DEFF;
    vertical-align:middle;
    height:20px;
    padding:5px;
    border-style:outset;
    vertical-align:middle;
  }

  /* File attachments selector and friends */

  td.file-attachments {
    .chosen-container {
      min-width:90%;
      max-width:90%;
      float:left;
    }

    .chosen-container.chosen-with-drop .chosen-drop {
      position:relative;
      top:100%;
      margin-bottom:1em;
    }

    .chosen-container .chosen-drop {
      position:absolute;
      top:-99999px;
    }

    input.delete-all-file-attachments {
      background-image:url('../img/cafevdb-delete.svg');
      float:right;
      background-repeat:no-repeat;
      background-size: 24px 24px;
      background-position: center;
      width:34px;
      height:34px;
      font-size:0pt;
      vertical-align:middle;
    }
  } /* td.file-attachment */

  /* Event attachments selector and friends */

  td.event-attachments {
    .chosen-container {
      min-width:90%;
      max-width:90%;
      float:left;
    }

    .chosen-container.chosen-with-drop .chosen-drop {
      position:relative;
      top:100%;
      margin-bottom:1em;
    }

    .chosen-container .chosen-drop {
      position:absolute;
      top:-99999px;
    }

    input.delete-all-event-attachments {
      background-image:url('../img/cafevdb-delete.svg');
      float:right;
      background-repeat:no-repeat;
      background-size: 24px 24px;
      background-position: center;
      width:27px;
      height:27px;
      font-size:0pt;
      vertical-align:middle;
    }
  } /* td.event-attachments */

  /**************************/

  tr.submit td {
    padding-top:0.5em;
    margin:0;
  }
  tr.submit td.send {
    width:auto;
    text-align:full;
  }
  tr.submit td.cancel {
    width:auto;
    text-align:right;
  }
  td.cancel input {
    margin-right:0;
  }

  tr, tr:hover, tr:active {
    background-color:inherit;
  }

  td.body, td.caption {
    vertical-align:top;
  }
  tr.submit td.addresses input {
    width:auto;
  }
  tr.submit td.addresses {
    width:auto;
    text-align:full;
    padding:0;
    margin:0;
  }

  tr.stored-messages td {
    border-bottom:1px solid #808080;
    padding-bottom:0.5em;
  }

  td.email-address.input input.address-book-emails,
  td.stored-messages-storage input.submit {
    background-repeat:no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width:27px;
    height:27px;
    font-size:0pt;
    vertical-align:middle;
  }

  td.stored-messages-storage {
    text-align:right;

    input {
      padding-top:5px;
    }

    span.checkbox-button.#{$cssPrefix}container {
      position:relative;
      vertical-align:middle;

      span.button.save-as-template {
        background-image: url('../img/template.svg');
      }

      span.button.draft-auto-save {
        background-image: url('../img/autosave.svg');
      }

      span.button {
        background-repeat:no-repeat;
        background-position:center;
        background-size:22px 22px;
        display:inline-block;
        width:27px;
      }

      input[type=checkbox]:checked + label span.button {
        background-color:red !important;
        box-shadow:2px 2px 2px #080808 inset;
      }

      input[type="checkbox"] {
        position: absolute;
        left:-10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }

    input.save-message {
      background-image:url('../img/save.svg');
    }

    input.delete-message {
      background-image:url('../img/cafevdb-delete.svg');
    }
  } /* td.stored-messages-storage */

  td.email-address.input input.address-book-emails {
    background-image:url('../img/contacts-dark.svg');
    /*  background-color:#000;*/
    float:right;
  }

  .stored-messages-choose .chosen-container {
    width:20em !important;
  }

  .chosen-container .chosen-default {
    color:#000;
    font-weight:bold;
  }

  #emailCurrentTemplate {
    width:16em;
    margin-left:1em;
    vertical-align:middle;
  }

  #emailCurrentTemplate:disabled {
    opacity:1;
  }

  td.email-recipients {
    padding-top:1em;
  }

  td.email-address.input {
    width:100%;
    /*padding: 0 1em 0 0;*/
  }
  td.email-address.input input {
    width:90%;
    float:left;
  }

  td.email-address.display {
    width:100%;
    overflow:hidden;
}

  td.email-address.display span {
    display:inline-block;
    max-width:45em;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  td.subject.input  span.subject.tag {
    font-family:monospace;
    font-size:100%;
    width:auto;
    max-width:30%;
    text-align:right;
    font-weight:bold;
    display:inline-block;
    float:left;
    line-height:2.5em;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  td.subject.input span.subject.input {
    width:67%;
    /* padding: 0 1em 0 0; */
    display:inline-block;
    line-height:2.5em;
    float:right;
  }

  td.subject.input input {
    width:100%;
  }

  td.messagetext {
    padding: 0.5em 0;
  }

  /*****************************************************************************
   *
   * email recipients selection
   *
   */
  div.#{$cssPrefix}row {
    width:100%;
  }

  div.#{$cssPrefix}row:after {
    content:" ";
    display:block;
    height:0;
    clear: both;
  }

  span.#{$cssPrefix}container {
    display:inline-block;
  }

  .#{$cssPrefix}container.left {
    float:left;
  }

  .#{$cssPrefix}container.right {
    float:right;
    text-align:right;
  }

  .label {
    font-weight:bold;
  }

  .label.top {
    display:block;
  }

  .label.left {
    display:inline-block;
    float:left;
    padding-right:0.5em;
  }

  .label.right {
    display:inline-block;
    float:right;
    padding-left:0.5em;
  }

  .spacer {
    width:100%;
    height:3px;
    margin: 0.5em 0 1em 0;
    text-align:center;
    line-height:3px;
  }

  .spacer .ruler {
    display:inline-block;
    width:100%;
    background-color:#000;
    height:1px;
    vertical-align:middle;
    padding:0;
  }

  .vmiddle {
    vertical-align:middle;
  }

  .vmiddle * {
    vertical-align:middle;
  }

} /* form#cafevdb-email-form */

  /* special elements */

div#sendingprogresswrapper {
  display:none;
  width:60em;
  vertical-align:middle;
}

div#sendingprogresswrapper .messagecount {
  width:100%;
  line-height:2em;
  vertical-align:middle;
  font-size:120%;
  font-weight:bold;
  margin-bottom:0.5em;
  text-align:center;
}

div#sendingprogresswrapper div.progress.#{$cssPrefix}row {
  width:100%;
  height:2em;
  padding: 0.5em;
  line-height:2em;
}

div#sendingprogresswrapper span.title {
  font-weight:bold;
  float:left;
  display:inline-block;
  width:10em;
  vertical-align:middle;
}

div#sendingprogresswrapper span.progressbar {
  float:right;
  display:inline-block;
  width:40em;
  margin-right:1em;
}

.error.emailform span,
.error.emailform div {
  max-width:60em;
}

.emailform.error.group {
  padding-bottom:0.5em;
}

span.error.code,
span.error.contents.item.substitutions {
  color:red;
  font-family:monospace;
  font-weight:bold;
}

form#cafevdb-email-form .missing-email-addresses span.personal-record {
  color:red;
  font-style:italic;
  text-decoration:undline;
  font-weight:bold;
  cursor:pointer;
  padding:2px;
}

form#cafevdb-email-form .missing-email-addresses span.personal-record:hover {
  box-shadow:1px 1px 1px #080808; /*, 1px 1px 1px #cfc inset;*/
  /*background-color:LightSteelBlue;*/
  background-color:rgba(250,250,250,0.9);
}

form#cafevdb-email-form .missing-email-addresses span.personal-record:active {
  box-shadow:1px 1px 1px #080808 inset; /*, 1px 1px 1px #cfc inset;*/
  background-color:LightSteelBlue;
}

form#cafevdb-email-form .member-status-filter.#{$cssPrefix}container {
  min-height:2em;
  line-height:2em;
  width:100%;
}

form#cafevdb-email-form #member_status_filter_chosen {
  min-width:40% !important;
  max-width:80% !important;
  width:auto !important;
}

form#cafevdb-email-form .basic-recipients-set.#{$cssPrefix}container.inner {
  margin: 0 0.5em 0 0.5em;
  position:relative;
  max-width:35%;
}

form#cafevdb-email-form input[type=checkbox].basic-recipients-set {
  position: absolute;
  left:-10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
form#cafevdb-email-form span.basic-recipients-set.#{$cssPrefix}container.outer {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
}

form#cafevdb-email-form input[type=checkbox] + .label {
  width:100%;
}

form#cafevdb-email-form input[type=checkbox] + .label span.button {
  display:inline-block;
  background-color:#F4F4F4 !important;
  box-shadow:1px 1px 1px #080808;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width:100%;
}

form#cafevdb-email-form input[type=checkbox]:checked + .label span.button {
  display:inline-block;
  background-color:LightSteelBlue !important;
  box-shadow:1px 1px 1px #080808 inset;
  white-space:nowrap;
  text-overflow:ellipsis;
}

form#cafevdb-email-form .recipients-select.#{$cssPrefix}container {
  width:80%;
}

form#cafevdb-email-form .instruments-filter.#{$cssPrefix}container {
  width:18%;
  text-align:right;
  cursor: pointer;
}

form#cafevdb-email-form .instruments-filter.#{$cssPrefix}container label {
}

form#cafevdb-email-form span#instruments-filter-wrapper {
  margin-top:0.3em;
  display:inline-block;
  text-align:left;
  width: 100%;
}

form#cafevdb-email-form .instruments-filter.#{$cssPrefix}container .chosen-container {
  width:100% !important;
}

form#cafevdb-email-form input.instruments-filter-controls.apply {
  background-image:url('../img/email-new-yes.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

form#cafevdb-email-form input.instruments-filter-controls.undo {
  background-image:url('../img/email-new-undo.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

form#cafevdb-email-form input.instruments-filter-controls.redo {
  background-image:url('../img/email-new-redo.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

form#cafevdb-email-form input.instruments-filter-controls.reset {
  background-image:url('../img/email-new-x.svg');
  background-repeat:no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width:28px;
  height:28px;
  font-size:0pt;
  vertical-align:middle;
}

/******************************************************************************
 *
 * Hide message text in oc-dialog after sending, still visible in
 * status-tab, which really is enough
 *
 */
.oc-dialog .group.message.text {
  display:none;
  height:0;
  max-height:0;
}

/******************************************************************************
 *
 * File upload support
 *
 */

.file_upload_form {
  width:0;
  height:0;
}
.file_upload_target {
  display:none;
}
.file_upload_start {
  ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0;
  z-index:1001;
  width:0;
  height:0;
}

/*****************************************************************************
 *
 * Preview in debug tab
 *
 */

div#cafevdb-email-preview {
  line-height:initial;
  font-size:initial;
}

div#cafevdb-email-preview .email-header {
  color:red;
  font-weight:bold;
  margin-bottom:0.5em;
  margin-top:0.5em;
}

div#cafevdb-email-preview .email-body {
}

div#cafevdb-email-preview .email-body h1,
div#cafevdb-email-preview .email-body h2,
div#cafevdb-email-preview .email-body h3,
div#cafevdb-email-preview .email-body h4,
div#cafevdb-email-preview .email-body h5,
div#cafevdb-email-preview .email-body h6 {
  font-weight:bold;
  display:block;
}

div#cafevdb-email-preview .email-body h1 {
  font-size:2em;
  margin-block-start: .67em;
  margin-block-end: .67em;
}

div#cafevdb-email-preview .email-body h2 {
  font-size:1.5em;
  margin-block-start: .83em;
  margin-block-end: .83em;
}

div#cafevdb-email-preview .email-body h3 {
  font-size:1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

div#cafevdb-email-preview .email-body h4 {
  font-size:1em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

div#cafevdb-email-preview .email-body h5 {
  font-size:0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

div#cafevdb-email-preview .email-body h6 {
  font-size:0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

div#cafevdb-email-preview .email-body a:link {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}

div#cafevdb-email-preview .email-body a:visited {
  color:#0000ff;
  text-decoration:underline;
  font-weight:bold;
}

div#cafevdb-email-preview .email-body a:hover {
  color:#0000ff;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

div#cafevdb-email-preview .email-body ul {
  list-style-type: disc;
   list-style-position: inside;
}

div#cafevdb-email-preview .email-body ol {
   list-style-type: decimal;
   list-style-position: inside;
}

div#cafevdb-email-preview .email-body ul ul,
div#cafevdb-email-preview .email-body ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}

div#cafevdb-email-preview .email-body ol ol,
div#cafevdb-email-preview .email-body ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}


/*
 * Local Variables: ***
 * css-indent-offset: 2 ***
 * cssm-indent-function: cssm-c-style-indenter ***
 * End: ***
 */
