/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2020, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

#events {

  $dialog-title-bar-height: 39px;
  $event-controls-height: 39px;

  padding: 0;
  margin: 0;

  background-color:#d0dcec;

  position:relative;
  height: calc(100% - #{$dialog-title-bar-height})!important;
  max-height: calc(100% - #{$dialog-title-bar-height})!important;

  form.projectevents {

    height: 100%;
    position: relative;

    div.eventcontrols {
      padding:0.3em 0.3em 0 0.3em;
      min-height: $event-controls-height;
      height: $event-controls-height;
      min-width:360px;
    }

    div.eventlist {
      position: relative;
      height: calc(100% - #{$event-controls-height})!important;
      max-height: calc(100% - #{$event-controls-height})!important;
      scrollbar-width: auto;
    }

    div.event-list-container {
      display:inline-block;
      width:auto;
      min-width:100%;
      padding:0.3em;
      .heading.listing.empty {
        font-weight:normal;
        opacity:0.3;
      }
      .heading.listing {
        font-weight:bold;
      }
    }
    div.table-container {
      display:inline-block;
      width:auto;
      min-width:100%;
      padding:0;
      margin:0;
      overflow:hidden;
      border:0;
    }
    table.listing {
      border:0px solid #004d9c;
      border-collapse:collapse;
      border-spacing:0px;
      /* margin:1px; /  otherwise the cell-borders are hidden.*/
    }

    select, input, option, button {
      border-radius:4px;
      background-color:#F4F4F4;
    }

    .cafevdb-menu {
      &.chosen-container {
	margin-right:3px;
      }

      &.chosen-container .chosen-drop {
	background-color:#F4F4F4 !important;
      }

      &.chosen-container-single.chosen-with-drop .chosen-single {
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	background-size:100% auto;
      }

      &.chosen-container a.chosen-single {
	border-radius:4px;
	background-color:#F4F4F4 !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	margin-top:3px !important;
	margin-bottom:3px !important;
      }

      &.chosen-containeru a.chosen-single:hover,
      &.chosen-container a.chosen-single:focus {
	background-color:#F4F4F4 !important;
	color:#333;
      }
    }

    input:active, option:active, button:active {
      background-color:SteelBlue;
    }

    tr, tr:hover, tr:active {
      background-color:inherit;
    }

    div.topbuttons {
      padding:1em 0.3em 0 0.3em;
    }

    input.projectevents-sendmail,
    input[type="submit"],
    input[type="button"],
    button {
      height:28px;
      vertical-align:middle;
    }

    td.management {
      padding-left:1em;
    }

    td.management input {
      width:100%;
      /*background-color:#C6DEFF !important;*/
    }

    input.image-button {
      background-repeat:no-repeat;
      background-position:center;
      width:28px;
      height:28px;
      vertical-align:middle;
      font-size:0pt;
      min-height:unset;
    }

    input.projectevents-sendmail-deselect[type=button] {
      background-image:url('../img/e_mail_X.png');
    }
    input.projectevents-sendmail-select[type=button] {
      background-image:url('../img/e_mail_checked.png');
    }

    input.projectevents-download {
      background-image:url('../../../core/img/actions/download.svg');
    }

    /* Larger button */
    input.projectevents-sendmail[type=button] {
      background-image:url('../img/e_mail.png');
      background-repeat:no-repeat;
      background-position:0px;
      padding-left:24px;
      min-height:28px;
      vertical-align:middle;
    }

    input.event-action {
      background-repeat:no-repeat;
      background-color:rgba(0,0,0,0) !important;
      min-width:unset;
      width:16px;
      height:15px;
      border:0;
      font-size:0;
      vertical-align:middle;
      min-height:unset;
      padding:5px;
    }

    input.detach {
      background-image: url(../img/link_break16x16.png);
    }

    input.edit {
      background-image: url(../img/pme-change.png);
    }

    input.delete {
      background-image: url(../img/pme-delete.png);
    }

    input.email-check[type=checkbox] {
      display:none;
      /* visibility:hidden; */
      /* position:fixed; */
      /* left:0px; */
      /* top:0px; */
    }
    div.email-check {
      width:24px;
      height:24px;
      /*padding:0px;*/
      background:url(../img/e_mail.png);
      cursor:pointer;
      /*font-size:0;*/
      /*vertical-align:middle;*/
    }
    input.email-check[type=checkbox]:checked ~ div.email-check {
      width:24px;
      height:24px;
      /*padding:0px;*/
      background:url(../img/e_mail_checked.png);
      /*cursor:crosshair;*/
      /*font-size:0;*/
      /*vertical-align:middle;*/
    }

    label.email-check {
      /*vertical-align:middle;*/
    }

    td.eventdata, td.eventbuttons, td.eventemail {
      /*vertical-align:middle;*/
      border:1px solid #004d9c;
      padding:3px;
    }

    td.eventbuttons, td.eventemail {
      text-align:center;
      width:0.1%;
      white-space:nowrap;
    }

    td.eventdata {
      cursor:pointer;
    }

    tr.projectevents:hover td {
      background-color: #9BAFC8!important;
    }

    tr.step-0 td {
      background:#B7CEEC;
    }

    tr.step-1 td {
      background:#C6DEFF;
    }

    td.eventdata-date {
      max-height:1em;
      width:10.5em !important;
    }

    /* Hide everything but the first line*/
    td.eventdata-brief {
      max-width:18.5em;
      min-width:18.5em;
      max-height:1em;
      /* white-space:normal; */
      overflow:hidden;
      text-overflow:ellipsis !important;
      vertical-align:middle;
    }
  }

}

/* input fields take whole width */
#event-title,
#event-location,
#category,
#event-description {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 3px 0;
}
/* bigger event title in detail view */
#event-title {
	font-size: 20px;
}
/* group from and to date fields */
#event-time {
	display: block;
	margin: 5px 0;
}
#event-time-from {
	float: left;
}
#event-time-to {
	float: right;
}
#from, #to {
	width: 12ex;
	margin: 0;
}
#fromtime, #totime {
	width: 80px;
	margin: 0;
}
#event-allday {
	display: inline-block;
	margin: 7px 0;
}
/* location input field leaves room for google button */
#event-location {
	width: 85%;
}
#google-location {
	display: inline-block;
	padding: 0.25em 0.5em;
}
#google-location img {
	width:2em;
	height:2em;
	vertical-align:middle;
}
/* category input field leaves room for edit button */
#category {
	width: 90%;
}
#editCategories {
	display: inline-block;
	padding: 6px 12px;
}
/* whole line for buttons of 'Advanced' and 'Export' */
#advanced_options_button,
#editEvent-export {
	display: block;
	margin: 0;
}
/* normal font weight for secondary buttons for less obtrusiveness */
#advanced_options_button,
#editEvent-export,
#editEvent-delete {
	font-weight: normal;
}
/* more space for action buttons below */
#actions {
	height: 45px;
}

/* make popups scrollable in smaller viewports */
.ui-dialog.cafevdb-project-events {
	max-height: 75% !important;
	/*top: 15% !important;*/
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
/*        min-width:30em;*/
}

.ui-dialog.cafevdb-project-events .ui-dialog-content {
	overflow: initial;
}

div.google-popup {
  overflow:hidden;
  max-height:none !important;
}

/* Hide the advanced options in the event form */
#advanced_options_bar {
  cursor:pointer;
  background-color:#BBB;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
  height:1ex;
  vertical-align:middle;
  border-top:2px solid #000;
  moz-box-shadow:-3px 0 7px #777;
  webkit-box-shadow:-3px 0 7px #777;
  box-shadow: 0 0.4ex 0.8ex #777;
}

/* Hide the category selector. We use the categories to link events to
 * projects, or at least to restore event-project connection. Better not
 * let the user fiddle with that.
 */
.cafevdb.eventdlg input#category,
.cafevdb.eventdlg a#editCategories {
/*  display:none;*/
}

.cafevdb.eventdlg #event-allday {
	display: inline-block;
	margin: 7px 0;
	width: 100%;
}
.cafevdb.eventdlg .actions {height: 33px;	min-width: 800px;}
.cafevdb.eventdlg .actionsfloatleft {float:left;margin-left: 1.4em !important;}
.cafevdb.eventdlg .actionsfloatright {float:right;margin-right: 1.4em !important;}

/*
 * LocalVariables: ***
 * css-indent-offset: 2 ***
 * End: ***
 */
