/**
   * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2020, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Special settings for small devices */

@media only screen and (max-width: 768px) {

  body {
    overflow:hidden !important;
  }

  /*Reduce z-index of header in order to allow for full-screen dialogs.*/
  #body-user #header,
  #body-settings #header,
  #body-public #header {
    z-index:1000;
  }

  #appsettings_popup {
    z-index:1001;
  }

  /* Display in full-screen, unless the nav-snapper is activated */
  body:not(.snapjs-left) #content {
    padding-top:0px;
  }

  #app-content {
    max-width: 100vw;
  }

  #body-user.dialog-titlebar-clicked form#personalsettings {
    left:47px;
    right:unset;
    z-index:200;
    /*opacity:0;*/
  }

  #body-user.dialog-titlebar-clicked form#personalsettings * {
    opacity:1;
  }

  body.snapjs-left form#personalsettings,
  form#personalsettings:hover {
    opacity:1;
  }

  .ui-dialog.transparent,
  .ui-dialog.transparent-titlebar {
    border:0px;
    background:black;
  }

  .ui-dialog.transparent .ui-widget-header,
  .ui-dialog.transparent-titlebar .ui-widget-header {
    display:none !important;
  }

  .ui-dialog.ui-widget.photo-zoom {
    cursor: zoom-out;
  }

  .phototools {
    display:block !important;
  }

  .tooltip-inner,
  .tooltip-wide .tooltip-inner,
  .tooltip-verywide .tooltip-inner,
  .tooltip-mostwide .tooltip-inner {
    max-width:200px !important;
  }

  table.pme-main td.pme-navigation .graphic-links {
    display:none;
  }

  table.pme-main td.pme-navigation:not(.pme-misc) {
    width:0px !important;
    padding:0px !important;
  }

  td.pme-sys input[type=submit],
  th.pme-sys input[type=submit] {
    width:auto !important;
  }

  /* Make room for the nav-snapper toggle in full-screen mode */
  .mce-fullscreen .mce-toolbar-grp,
  .ui-dialog .ui-dialog-titlebar {
    margin-left:44px; /* has to match width of nav-snapper menu button */
  }

  .mce-fullscreen {
    padding-top:0px!important;
  }

  .cafevdb-page-container.instruments .pme-sys,
  .cafevdb-page-container.instruments .pme-main .pme-navigation  {
    display:none;
  }

  .ui-dialog, .ui-dialog.pme-table-dialog {
    left:0px !important;
    top:0px !important;
    max-height: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
  }

  .ui-dialog .ui-dialog-content,
  .ui-dialog.pme-table-dialog .ui-dialog-content {
    overflow:auto !important;
    padding:0.3em !important;
  }

  #emailformcomposer, #emailformrecipients {
    overflow-x: auto !important;
  }

  #emailformdebug {
    width:auto !important;
  }

  .popup.topright,
  .popup.bottomleft {
    left: 0px !important;
    top: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    /* overflow: auto !important; */
    padding: 0px !important;
    margin: 0px !important;
  }

  #appsettings_popup div.personalblock.cafevdb.about {
    max-width:none !important;
    width: auto !important;
    min-width:0 !important;
    min-height:0 !important;
  }

  #appsettings_popup div.personalblock.admin {
  }

  .ui-dialog.chosen-popup-dialog {
    overflow: visible !important;
  }

  .ui-dialog .ui-dialog-content.chosen-popup-dialog {
    overflow: initial !important;
  }

  fieldset#cafevdb-email-composition-fieldset {
    min-width:0 !important;
  }

  tr.table-tabs td ul.table-tabs {
    flex-wrap: wrap;
  }

  tr.table-tabs td li.table-tabs {
    box-sizing:border-box;
    max-width:18%; /* 5 tabs */
  }

  tr.table-tabs td li.table-tabs a {
    box-sizing:border-box;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  tr.table-tabs td li.selected {
    max-width:none;
  }

  /* don't display disabled inputs on small screens */
  div.pme-table-dialog td.pme-buttons input:disabled {
    display:none;
  }

  .bloglist li.blogentry {
    margin-right: 0.5ex !important;
  }

  .bloglist .blogentrytitle {
    margin-top: 20px;
  }

  div#blogedit {
    padding:0px;
  }

  div#blogedit div.mce-container {
    border-width: 0px !important;
  }

  #cafevdb-page-blog-header {
    background-image:none !important;
    padding-left: 0px !important;
  }

  body.snapjs-left .cafevdb-page-header-box {
    display:none;
    width:0;
    height:0;
  }

  .popup > div:first-child {
    max-height: 100vh !important;
  }
}

/*
 * Local Variables: ***
 * css-indent-offset: 2 ***
 * End: ***
 */
