/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Navigation snapper settings, stolen from core/css/mobile.css */

@media only screen {

    #app-navigation {
        transform: translateX(-#{$navigation-width});
        /* transform: translateX(-#{$navigation-width}); */
        /* transform: translateX(-300px); */
    }
    .snapjs-left {
        #app-navigation {
            transform: translateX(0);
        }
    }

    #app-navigation:not(.hidden) + #app-content {
        margin-left: 0;
    }

    .skip-navigation.skip-content {
        left: 3px;
        margin-left: 0;
    }

    /* Show app details page */
    #app-content.showdetails {
        #app-navigation-toggle {
            transform: translateX(-44px);
        }
        #app-navigation-toggle-back {
            position: fixed;
            display: inline-block !important;
            top: $header-height;
            left: 0;
            width: 44px;
            height: 44px;
            z-index: 1050;
            background-color: rgba(255, 255, 255, .7);
            cursor: pointer;
            opacity: .6;
            transform: rotate(90deg);
        }
        .app-content-list {
            transform: translateX(-100%);
        }
    }

    #app-navigation-toggle {
        position: fixed;
        display: inline-block !important;
        left: 0;
        width: 44px;
        height: 44px;
        z-index: 1050;
        cursor: pointer;
        opacity: 0.6;
    }

    #app-navigation-toggle:hover, #app-navigation-toggle:focus {
        opacity: 1;
    }

    /* position controls for apps with app-navigation */
    #app-navigation + #app-content #controls {
        padding-left: 44px;
    }

/* end of media query */
}
