/**Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2020, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*****************************************************************************
 *
 * Fix some css stuff which just does not come out right
 *
 */

.cafevdb.tooltip[x-placement^="top"] .arrow,
.cafevdb.tooltip[x-placement^="top"] .tooltip-arrow {
    left: 50%;
  }

/* Need space for the close button. Unfortunatelly, this will also
 * apply to dialogs without close button.
 */
.oc-dialog .oc-dialog-title {
    padding-right: 3ex;
}

/* Safer, but needs modification of the Nextcloud code */
.oc-dialog.oc-dialog-has-close .oc-dialog-title {
    padding-right: 3ex;
}

.oc-dialog:not(.oc-dialog-has-close) .oc-dialog-title {
    padding-right: 0 !important;
}

.cafevdb .ui-dialog-titlebar-close.ui-button,
.cafevdb .customDialogHeaderButton.ui-button {
  min-height: unset!important;
}

/* NC min-width = XXpx breaks the tinyMCE status bar. */
.tox button {
  min-height:unset!important;
}

/* tinymce fullscreen cannot reach up to the top, need to offset by
 * navigation bar height.
 */
div.tox-tinymce.tox-fullscreen {
  top:50px; /* needs to be adjusted if embedding cloud layout changes */
}

body.snapjs-left div.tox-fullscreen {
  top:44px;
}

div.tox-fullscreen .tox-menubar {
  margin-left:44px;
}

body.snapjs-left div.tox-fullscreen .tox-menubar {
  margin-left:0px;
}

/* leave ckeditor alone if used in our app */
div[contenteditable="true"].ck.ck-content, div[contenteditable="true"].ck.ck-content * {
  width: revert;
  min-height: revert;
  box-sizing: revert;
  margin: revert;
  padding: revert;
  list-style: revert;
  font-size: revert;
  outline: revert;
  line-height: normal;
}

div.ck.ck-reset {
    white-space: normal;
}

/* autocomplete is hidden by setting z-index = 1000 */
ul.ui-autocomplete.ui-widget.ui-front {
  z-index:10000;
}

span.ui-accordion-header-icon {
  margin:unset;
  float:unset;
}
