/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/******************************************************************************
 *
 * display of project-participant-field data.
 *
 */

form.project-participant-fields span.allowed-option {
  display:inline-block;
  width:100%;
  position:relative;
}

form.pme-form.project-participant-fields:not(.pme-change) span.allowed-option-name:empty,
form.pme-form.project-participant-fields:not(.pme-change) span.allowed-option-name:empty ~ span {
    display:none;
}

form.pme-form.project-participant-fields:not(.pme-change) td.groupofpeople:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change) td.groupofpeople-id:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change) td.deposit.set:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change) td.deposit.enum:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change) td.service-fee.set:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change) td.service-fee.enum:not(.pme-key) {
    min-width:12em;
}

form.pme-form.project-participant-fields:not(.pme-change,.pme-list) td.groupofpeople:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change,.pme-list) td.groupofpeople-id:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change,.pme-list) td.deposit.set:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change,.pme-list) td.deposit.enum:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change,.pme-list) td.service-fee.set:not(.pme-key),
form.pme-form.project-participant-fields:not(.pme-change,.pme-list) td.service-fee.enum:not(.pme-key) {
  width:32em;
}

form.pme-form.project-participant-fields tr.recurring td.pme-value td.label {
  padding-left:0.5em;
  padding-right:0.5em;
}

form.pme-form.project-participant-fields:not(.pme-change) td.service-fee.enum {
    font-family:inherit;
}

form.pme-form.project-participant-fields:not(.pme-change) span.allowed-option-name {
  max-width:5em;
  /* float:left; */
  overflow:hidden;
  text-overflow:ellipsis;
  position:absolute; /* needs position != static on parent */
  left:0;
}

form.pme-form.project-participant-fields.pme-view span.allowed-option-name,
form.pme-form.project-participant-fields.pme-delete span.allowed-option-name {
  max-width:12em;
}

form.pme-form.project-participant-fields:not(.pme-change) span.allowed-option-value.money {
  font-family:monospace;
  /* float:right; */
  position:absolute;
  right:0;
}

.tooltip-inner span.allowed-option {
  display:inline-block;
  width:100%;
}
.tooltip-inner span.allowed-option-name {
  font-style:italic;
}
.tooltip-inner span.allowed-option-separator {
  display:inline-block;
  width:1em;
}
.tooltip-inner span.allowed-option-value.money {
  font-family:monospace;
  float:right;
}

form.pme-form.project-participant-fields:not(.pme-change) span.allowed-option.group {
  width:100%;
}

form.pme-form.project-participant-fields.pme-view span.allowed-option-name,
form.pme-form.project-participant-fields.pme-delete span.allowed-option-name,
form.pme-form.project-participant-fields.pme-view span.allowed-option-value.money,
form.pme-form.project-participant-fields.pme-delete span.allowed-option-value.money {
  /* float:unset; */
}

form.pme-form.project-participant-fields.pme-view td.service-fee span.allowed-option-name:after,
form.pme-form.project-participant-fields.pme-delete td.service-fee span.allowed-option-name:after {
    content: ": ";
}

form.pme-form.project-participant-fields.pme-add td.pme-key.service-fee.single-valued,
form.pme-form.project-participant-fields.pme-change td.pme-key.service-fee.single-valued,
form.pme-form.project-participant-fields.pme-copy td.pme-key.service-fee.single-valued,
form.pme-form.project-participant-fields.pme-view td.service-fee.set,
form.pme-form.project-participant-fields.pme-delete td.service-fee.set {
    position:relative;
}

/* The following can be used to style the money labels. */
form.pme-form.project-participant-fields.pme-change td.pme-key.service-fee.single-valued span.allowed-option-name.money,
form.pme-form.project-participant-fields.pme-add td.pme-key.service-fee.single-valued span.allowed-option-name.money,
form.pme-form.project-participant-fields.pme-delete td.pme-key.service-fee.single-valued span.allowed-option-name.money {
  /* margin-right:6em; */ /* leave room for absolute positioned money value */
}

form.pme-form.project-participant-fields.pme-change td.pme-key.service-fee.single-valued span.allowed-option-value.money,
form.pme-form.project-participant-fields.pme-add td.pme-key.service-fee.single-valued span.allowed-option-value.money,
form.pme-form.project-participant-fields.pme-delete td.pme-key.service-fee.single-valued span.allowed-option-value.money {
    font-family:monospace;
    float:right;
    /* position:absolute; */
    /* right:1em; */
}

form.pme-form.project-participant-fields.pme-view td.service-fee.set span.allowed-option-value.money,
form.pme-form.project-participant-fields.pme-delete td.service-fee.set span.allowed-option-value.money {
    font-family:monospace;
    /* font-size:120%; */
    /* position:absolute; */
    /* left:12em; */
    float:right;
}

form.pme-form.project-participant-fields:not(.pme-change) td.money.single-valued,
form.pme-form.project-participant-fields:not(.pme-change) td.money.simple-valued {
  font-family:monospace;
}

form.pme-form.project-participant-fields:not(.pme-change) td.money.single-valued.groupofpeople {
  font-family:inherit;
}

form.project-participant-fields span.allowed-option-name ~ span.allowed-option-value {
  /* margin-left:1ex; */
}

form.project-participant-fields label.groupofpeople.predefined span.allowed-option {
  margin-left:1ex;
  display:none;
}

form.project-participant-fields label.groupofpeople.predefined span.allowed-option.selected {
  display:unset;
  font-weight:bold;
}

form.project-participant-fields td.pme-value input.sepa-debit-mandate,
form.project-participant-fields td.pme-cell input.sepa-debit-mandate {
  min-height:unset;
  margin:0;
  padding: 2px 12px 2px 12px;
}

/**
 * Style first and subsequence lines in list-view
 */
form.project-participant-fields.pme-list td.pme-value div.allowed-option-wrapper,
form.project-participant-fields.pme-list td.pme-cell div.allowed-option-wrapper {
  max-height:24px; /* hard restriction on table row height */
  /* line-height:12px; */
  line-height:7px;
  font-size:66.67%;
  overflow:hidden;
  position:relative;
}

form.project-participant-fields.pme-list td.pme-value div.allowed-option-wrapper::first-line,
form.project-participant-fields.pme-list td.pme-cell div.allowed-option-wrapper::first-line {
  line-height:12px;
  font-size:150%; /* this is relative to the 2/3 above */
}

form.project-participant-fields.pme-list td.pme-value div.allowed-option-wrapper > *,
form.project-participant-fields.pme-list td.pme-cell div.allowed-option-wrapper > *{
  /* -moz-transform: scale(0.5);
     zoom: 0.5; */
}

form.project-participant-fields tr.participant-field.recurring td.pme-value td.operations input.operation.regenerate-all {
  width:100%;
  height:unset;
  min-height:unset;
  margin-right:unset;
}

form.project-participant-fields tr.participant-field.recurring table.row-count-0 thead  {
  display:none;
}

form.pme-form.project-participant-fields td.pme-value.file-data table.file-upload {
  width:100%;
}

form.pme-form.project-participant-fields tr.file-upload-row td.file-data {
  width:100%;
  padding-right:3px;
}

form.pme-form.project-participant-fields tr.file-upload-row td.operations .operation {
  display:inline-block;
  background-repeat:no-repeat;
  background-size: 24px 24px;
  background-position: center;
  width:28px;
  height:28px;
  vertical-align:middle;
  margin-right:0.5em;
}

form.pme-form.project-participant-fields tr.file-upload-row .operation.delete-undelete {
  background-image:url('../img/cafevdb-delete.svg');
}

form.pme-form.project-participant-fields tr.file-upload-row .operation.upload-replace {
  background-image:url('../../../core/img/actions/upload.svg');
}

form.pme-form.project-participant-fields tr.file-upload-row .operation.open-parent {
  background-image:url('../../../core/img/filetypes/folder-external.svg');
}

form.pme-form.project-participant-fields tr.file-upload-row a[href=""] {
  display:none;
}

form.pme-form.project-participant-fields tr.file-upload-row a ~ .upload-placeholder {
  display:none;
}

form.pme-form.project-participant-fields tr.file-upload-row a[href=""] ~ .upload-placeholder {
  display:inline-block;
  width:100%;
}
