/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */
/******************************************************************************
 *
 * participant-field stuff
 *
 */
table.pme-main tr.multiplicity {
  &.multiplicity-single.data-type-boolean ~ tr.pme-row.data-options-single {
    display:none;
  }
  ~ tr.pme-row {
    &.due-date,
    &.deposit-due-date,
    &.maximum-group-size,
    &.data-options,
    &.data-options-single,
    &.data-options-simple,
    &.data-options-groupofpeople,
    &.deposit-single,
    &.deposit-simple,
    &.deposit-groupofpeople,
    &.default-value,
    &.default-single-value,
    &.default-cloud-file-value,
    &.default-multi-value {
      display:none;
    }
  }
  &.multiplicity-recurring ~ tr.pme-row .not-multiplicity-recurring,
  &:not(.multiplicity-recurring) ~ tr.pme-row .only-multiplicity-recurring {
    display:none!important;
  }
  &.data-type-service-fee ~ tr.pme-row.due-date,
  &.data-type-service-fee ~ tr.pme-row.deposit-due-date,
  &.multiplicity-groupofpeople ~ tr.pme-row.maximum-group-size,
  &.multiplicity-groupofpeople.data-type-service-fee ~ tr.pme-row.data-options-groupofpeople,
  &.multiplicity-single ~ tr.pme-row.default-single-value,
  &.multiplicity-single ~ tr.pme-row.data-options-single,
  &.multiplicity-simple ~ tr.pme-row.default-simple-value,
  &.multiplicity-simple:not(.data-type-cloud-file, .data-type-db-file) ~ tr.pme-row.data-options-simple,
  &.multiplicity-groupsofpeople ~ tr.pme-row.data-options,
  &.multiplicity-multiple ~ tr.pme-row.data-options,
  &.multiplicity-multiple ~ tr.pme-row.default-multi-value,
  &.multiplicity-parallel ~ tr.pme-row.data-options,
  &.multiplicity-parallel ~ tr.pme-row.default-multi-value,
  &.multiplicity-recurring ~ tr.pme-row.data-options {
    display:table-row;
  }
  &.data-type-db-file,
  &.data-type-cloud-file {
    ~ tr.pme-row.default-value,
    ~ tr.pme-row.default-multi-value,
    ~ tr.pme-row.default-single-value {
      display:none!important;
    }
  }
  &.data-type-cloud-file ~ tr.pme-row.default-cloud-file-value {
    display:table-row;
  }
  &.data-type-html ~ tr .data-type-html-hidden {
    display:none;
  }
  &:not(.data-type-html) ~ tr .not-data-type-html-hidden {
    display:none;
  }
}

.project-participant-fields table.pme-main {
  tr:not(.pme-filter) .chosen-container {
    box-sizing:border-box;
    min-width:50%;
  }
  tr.data-options {
    &.generator {
      border-top: 1px solid black;
    }
    td {
      input, textarea {
        vertical-align:middle;
      }
    }
    td.operations input.operation {
      background-repeat:no-repeat;
      background-size: 24px 24px;
      background-position: center;
      width:28px;
      height:28px;
      vertical-align:middle;
      margin-right:1em;
      &.regenerate {
        /* background-image:url('../img/reload-solid.svg'); */
        background-image:url('../img/actions/compute-red.svg');
      }
      &.regenerate-all {
        /* background-image:url('../img/reload-solid.svg'); */
        background-image:url('../img/actions/compute-red.svg');
      }
      &.generator-run {
        background-image:url('../../../core/img/actions/play.svg');
      }
      &.delete-undelete {
        background-image:url('../img/cafevdb-delete.svg');
      }
      &.busy {
        background-image:url('../../../core/img/loading.gif') !important;
      }
    }
    &.deleted td.operations input.delete-undelete {
      background-image:url('../img/history.svg');
    }
  }
}
form.pme-form.pme-copyadd .show-deleted {
    display:none;
}
tr.data-options.deleted {
    display:none;
}
table.data-options.show-deleted tr.data-options.deleted {
    display:table-row;
}
/* Data currently only useful for service-fee-fields, limit only for
 * group definitions.
 */
td.field-data,
th.field-data,
td.field-deposit,
th.field-deposit,
td.field-limit,
th.field-limit {
    display:none!important;
}
table.data-options.operation-display, table.data-options.show-data {
  td.field-data, th.field-data,
  td.field-deposit, th.field-deposit,
  td.field-limit, th.field-limit {
    display:table-cell!important;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  &.multiplicity-recurring {
    td.field-data {
      text-align:right;
    }
  }
}
form.pme-form.pme-list {
  table.data-options.operation-display {
    td.field-data, th.field-data {
      max-width:8em;
    }
  }
}

table.pme-main {
  /* Show field-data for service-fee fields, because it holds the amount to pay. */
  tr.multiplicity {
    &.data-type-service-fee {
      ~ tr.pme-row td.pme-value {
        td.field-data, th.field-data {
          display:table-cell!important;
        }
      }
      &.deposit-due-date-set {
        ~ tr.pme-row td.pme-value {
          td.field-deposit, th.field-deposit {
            display:table-cell!important;
          }
        }
        &.multiplicity-simple ~ tr.pme-row.deposit-simple,
        &.multiplicity-single ~ tr.pme-row.deposit-single,
        &.multiplicity-groupofpeople ~ tr.pme-row.deposit-groupofpeople {
          display:table-row;
        }
      }
    }

    /* Hide field-data for autogenerated service-fee fields. */
    &.multiplicity-recurring.data-type-service-fee {
      ~ tr.pme-row td.pme-value {
        td.field-limit, th.field-limit {
          display:none!important;
        }
        td.field-data, th.field-data {
          display:table-cell!important;
          span.service-fee {
            display:none;
          }
          span.general {
            display:inline-block;
          }
        }
      }
    }

    /* Show field-limit for group-fields */
    &.multiplicity-groupsofpeople ~ tr.pme-row td.pme-value {
      td.field-limit, th.field-limit {
        display:table-cell!important;
      }
    }

    ~ tr.pme-row {
      span.service-fee {
        display:none;
      }
      span.general {
        display:inline-block;
      }
    }
    &.data-type-service-fee {
      ~ tr.pme-row {
        span.service-fee {
          display:inline-block;
        }
        span.general {
          display:none;
        }
      }
      ~ tr.pme-row.data-options td.pme-value div.show-data {
        display:none;
      }
      ~ tr.pme-row input.field-data,
      ~ tr.pme-row input.field-deposit,
      ~ tr.pme-row input.data-options-single,
      ~ tr.pme-row input.data-options-simple,
      ~ tr.pme-row input.data-options-groupofpeople {
        text-align:right;
        width:130px;
      }
      ~ tr.pme-row tr.generator input.field-data {
        text-align:inherit;
      }
    }
  }
}

/* list view */
.pme-cell-wrapper table.operation-display.data-options {
  th.field-data span.general,
  th.field-deposit span.general,
  &.data-type-service-fee .field-data span.service-fee,
  &.data-type-service-fee .field-deposit span.service-fee {
    display:inline-block;
  }
  &.data-type-service-fee .field-data span.general,
  &.data-type-service-fee .field-deposit span.general,
  .field-data span.service-fee {
    display:none;
  }
}

table.pme-main {
  /* @todo this does not seem to belong here */
  td.pme-cell span.align-right,
  td.pme-value span.align-right {
    float:right;
  }
  span.service-fee.currency-amount {
    text-align:right;
    display:inline-block;
    width:100%;
  }
}

/******************/

.project-participant-fields {
  table.pme-main {
    textarea.field-tooltip,
    textarea.participant-field-tooltip {
      overflow-x:hidden; /* fix FF extra-line bug */
    }
    td.data-options {
      position:relative;
      background-clip:padding-box;
      div.field-display-options {
        position:absolute;
        bottom:0px;
        right:0px;
      }
      td.placeholder {
        min-width:35em;
      }
    }
  }
}

table.data-options {
  &.operation-display {
    span.service-fee.currency-amount {
      text-align:right;
      display:inline-block;
      width:100%;
    }

    th.operations,
    th.field-key,
    td.operations,
    td.field-key {
      display:none!important;
    }
    th, td {
      text-align:left;
      border:1px solid #004D9C;
    }
    td.field-limit {
      text-align:center;
    }
  }

  border-collapse:collapse;
  border-spacing:1px;

  th {
    font-style:italic;
  }
}
td.pme-value table.data-options.operation-display {
  th, td {
    padding:3px;
  }
}
td.pme-cell table.data-options.operation-display {
  th, td {
    padding:1px;
  }
}
td.pme-cell.participant-field-tooltip {
  ul, ol {
    list-style-position:inside!important;
    list-style-type:unset;
  }
  dd {
    display: block;
    margin-left:1em;
  }
  h1, h2, h3, h4, h5 {
    font-weight:bold;
  }
  em {
    font-style:italic;
  }
  b {
    font-style:bold;
  }
}
.tooltip-inner .pme-cell-wrapper table.data-options {
  th.field-data, td.field-data, th.field-tooltip, td.field-tooltip {
    max-width:8em;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}
