/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/******************************************************************************
 *
 * extra-field stuff
 *
 */

table.pme-main tr.multiplicity ~ tr.pme-row.due-date,
table.pme-main tr.multiplicity ~ tr.pme-row.maximum-group-size,
table.pme-main tr.multiplicity ~ tr.pme-row.allowed-values,
table.pme-main tr.multiplicity ~ tr.pme-row.allowed-values-single,
table.pme-main tr.multiplicity.multiplicity-single.data-type-boolean ~ tr.pme-row.allowed-values-single,
table.pme-main tr.multiplicity ~ tr.pme-row.default-value,
table.pme-main tr.multiplicity ~ tr.pme-row.default-single-value, table.pme-main tr.multiplicity ~ tr.pme-row.default-multi-value {
    display:none;
}

table.pme-main tr.multiplicity.multiplicity-recurring ~ tr.pme-row .not-multiplicity-recurring {
  display:none!important;
}

table.pme-main tr.multiplicity:not(.multiplicity-recurring) ~ tr.pme-row .only-multiplicity-recurring {
  display:none!important;
}

table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row.due-date,
table.pme-main tr.multiplicity.data-type-deposit ~ tr.pme-row.due-date,
table.pme-main tr.multiplicity.multiplicity-groupofpeople ~ tr.pme-row.maximum-group-size,
table.pme-main tr.multiplicity.multiplicity-groupofpeople.data-type-service-fee ~ tr.pme-row.allowed-values-single,
table.pme-main tr.multiplicity.multiplicity-simple:not(.multiplicity-groupofpeople) ~ tr.pme-row.default-value,
table.pme-main tr.multiplicity.multiplicity-single ~ tr.pme-row.default-single-value,
table.pme-main tr.multiplicity.multiplicity-single ~ tr.pme-row.allowed-values-single,
table.pme-main tr.multiplicity.multiplicity-groupsofpeople ~ tr.pme-row.allowed-values,
table.pme-main tr.multiplicity.multiplicity-multiple ~ tr.pme-row.allowed-values,
table.pme-main tr.multiplicity.multiplicity-multiple ~ tr.pme-row.default-multi-value,
table.pme-main tr.multiplicity.multiplicity-parallel ~ tr.pme-row.allowed-values,
table.pme-main tr.multiplicity.multiplicity-parallel ~ tr.pme-row.default-multi-value,
table.pme-main tr.multiplicity.multiplicity-recurring ~ tr.pme-row.allowed-values {
    display:table-row;
}

.project-extra-fields table.pme-main tr:not(.pme-filter) .chosen-container {
    box-sizing:border-box;
    min-width:50%;
}

.project-extra-fields table.pme-main tr.allowed-values td.operations input.operation {
    background-repeat:no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width:28px;
    height:28px;
    vertical-align:middle;
    margin-right:1em;
}

.project-extra-fields table.pme-main tr.allowed-values.active input.regenerate {
    background-image:url('../img/reload-solid.svg');
}

.project-extra-fields table.pme-main tr.allowed-values.active input.generator-run {
    background-image:url('../../../core/img/actions/play.svg');
}

.project-extra-fields table.pme-main tr.allowed-values.active input.delete-undelete {
    background-image:url('../img/cafevdb-delete.svg');
}

.project-extra-fields table.pme-main tr.allowed-values.deleted input.delete-undelete {
    background-image:url('../img/history.svg');
}

form.pme-form.pme-copyadd .show-deleted {
    display:none;
}

tr.allowed-values.deleted {
    display:none;
}

table.allowed-values.show-deleted tr.allowed-values.deleted {
    display:table-row;
}

/* Data currently only useful for service-fee-fields, limit only for
 * group definitions.
 */
td.field-data,
th.field-data,
td.field-limit,
th.field-limit {
    display:none!important;
}

table.allowed-values.operation-display td.field-data,
table.allowed-values.operation-display th.field-data,
table.allowed-values.show-data td.field-data,
table.allowed-values.show-data th.field-data,
table.allowed-values.operation-display td.field-limit,
table.allowed-values.operation-display th.field-limit,
table.allowed-values.show-data td.field-limit,
table.allowed-values.show-data th.field-limit {
    display:table-cell!important;
}

/* Show field-data for service-fee fields, because it holds the amount to pay. */
table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row td.pme-value td.field-data,
table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row td.pme-value th.field-data {
    display:table-cell!important;
}

/* Hide field-data for autogenerated service-fee fields. */
table.pme-main tr.multiplicity.multiplicity-recurring.data-type-service-fee ~ tr.pme-row td.pme-value td.field-data,
table.pme-main tr.multiplicity.multiplicity-recurring.data-type-service-fee ~ tr.pme-row td.pme-value th.field-data {
    display:none!important;
}

/* Show field-limit for group-fields */
table.pme-main tr.multiplicity.multiplicity-groupsofpeople ~ tr.pme-row td.pme-value td.field-limit,
table.pme-main tr.multiplicity.multiplicity-groupsofpeople ~ tr.pme-row td.pme-value th.field-limit {
    display:table-cell!important;
}

table.pme-main tr.multiplicity ~ tr.pme-row span.service-fee,
table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row span.general {
    display:none;
}

table.pme-main tr.multiplicity ~ tr.pme-row span.general,
table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row span.service-fee {
    display:inline-block;
}

table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row.allowed-values td.pme-value div.show-data {
    display:none;
}

table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row input.field-data,
table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row input.allowed-values-single {
    text-align:right;
}
table.pme-main tr.multiplicity.data-type-service-fee ~ tr.pme-row tr.generator input.field-data {
  text-align:inherit;
}

/* list view */
.pme-cell-wrapper table.operation-display.allowed-values th.field-data span.general,
.pme-cell-wrapper table.operation-display.allowed-values.data-type-service-fee .field-data span.service-fee {
  display:inline-block;
}

.pme-cell-wrapper table.operation-display.allowed-values.data-type-service-fee .field-data span.general,
.pme-cell-wrapper table.operation-display.allowed-values .field-data span.service-fee {
  display:none;
}

table.pme-main td.pme-cell span.align-right,
table.pme-main td.pme-value span.align-right {
  float:right;
}

/******************/

table.pme-main span.service-fee.currency-amount {
  text-align:right;
  display:inline-block;
  width:100%;
}

.project-extra-fields table.pme-main textarea.field-tooltip,
.project-extra-fields table.pme-main textarea.extra-field-tooltip {
    overflow-x:hidden; /* fix FF extra-line bug */
}

.project-extra-fields table.pme-main td.allowed-values {
    position:relative;
    background-clip:padding-box;
}

.project-extra-fields table.pme-main td.allowed-values div.field-display-options {
    position:absolute;
    bottom:0px;
    right:0px;
}

.project-extra-fields table.pme-main td.allowed-values td.placeholder {
    min-width:35em;
}

table.allowed-values.operation-display th.operations,
table.allowed-values.operation-display th.field-key,
table.allowed-values.operation-display td.operations,
table.allowed-values.operation-display td.field-key {
    display:none!important;
}

table.allowed-values {
    border-collapse:collapse;
    border-spacing:1px;
}

table.allowed-values th {
    font-style:italic;
}

table.allowed-values.operation-display th,
table.allowed-values.operation-display td {
    text-align:left;
    border:1px solid #004D9C;
}

td.pme-value table.allowed-values.operation-display th,
td.pme-value table.allowed-values.operation-display td {
    padding:3px;
}

td.pme-cell table.allowed-values.operation-display th,
td.pme-cell table.allowed-values.operation-display td {
    padding:1px;
}

td.pme-cell.extra-field-tooltip ul,
td.pme-cell.extra-field-tooltip ol {
    list-style-position:inside!important;
    list-style-type:unset;
}

td.pme-cell.extra-field-tooltip dd {
    display: block;
    margin-left:1em;
}

td.pme-cell.extra-field-tooltip h1,
td.pme-cell.extra-field-tooltip h2,
td.pme-cell.extra-field-tooltip h3,
td.pme-cell.extra-field-tooltip h4,
td.pme-cell.extra-field-tooltip h5 {
    font-weight:bold;
}

td.pme-cell.extra-field-tooltip em {
    font-style:italic;
}

td.pme-cell.extra-field-tooltip b {
    font-style:bold;
}
