/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2016, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

.sepa-debit-mandate-dialog.ui-dialog {

  /* UI stuff */
  .ui-dialog-buttonpane.ui-widget-content {
    position:relative;

    .ui-dialog-buttonset {
      position:relative;
      float:left;
      width:100%;

      button.icon-button {
        text-indent:-10000em;
        background-repeat:no-repeat;
        background-size: 24px 24px;
        background-position: center;
        vertical-align:middle;
        width:34px;
        height:34px;
        border-radius: var(--border-radius-pill);

        &.reload {
          background-image:url('../img/reload-solid.svg');
          position:absolute;
          right:0;
        }
        &.disable {
          /* background-image:url('../img/cafevdb-delete.svg'); */
          background-image:url('../img/dont-solid.svg');
        }
        &.delete {
          background-image:url('../img/cafevdb-delete.svg');
        }
        &.reactivate {
          background-image:url('../img/history.svg');
        }
      }
    }
  }
}

#sepa-debit-mandate-dialog form#sepa-debit-mandate-form {

  .statusmessage.suggestions {
    max-width:40em;
    hyphens:auto;
  }

  input {
    &.mandateDate,
    &.lastUsedDate {
      width: 6em;
    }
  }

  label {
    display:inline-block;
  }

  label.lastUsedDate {
    float:right;
  }

  .bank-account-identifier {
    font-family:monospace;
  }

  label.sepa-validation-toggle {
    float:right;
    margin-right:3px;
  }

  input.sepa-validation-toggle {
    display:none;
  }

  div.sepa-validation-toggle {
    display:inline-block;
    width:24px;
    height:24px;
    background:url(../img/forgetit.png);
    cursor:pointer;
    vertical-align:middle;
  }

  input.sepa-validation-toggle:checked ~ div.sepa-validation-toggle {
    background:url(../img/letsdoit.png);
  }


  /******************************************************************************
   *
   * expired notice.
   *
   */
  #mandate-expired-notice:not(.active) {
    display:none!important;
  }

  #mandate-expired-notice.active {
    display:block!important;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    width:80%;
    height:60%;
    text-align:center;
    font-size:700%;
    line-height:100%;
    margin:auto;
    color:red;
    font-weight:bold;
    font-style:italic;
    overflow:visible;
  }

  #mandate-expired-notice.active {
    div, span {
      display:inline-block;
      text-align:center;
    }
  }

  .debitRecurringInfo {
    float:right;
    margin-right:3px;

    .type {
      display:none;
    }

    &.once .type.once {
      display:unset;
    }

    &.permanent .type.permanent {
      display:unset;
    }
  }

  /******************************************************************************
   *
   * Registration controls
   *
   */

  /* visibility control */

  fieldset.have-data.unused .hidden-have-data-unused,
  fieldset.no-written-mandate .hidden-no-written-mandate,
  fieldset.no-written-mandate .hidden-no-written-mandate + input[type="checkbox"] + label,
  fieldset.have-written-mandate .hidden-have-written-mandate,
  fieldset.have-written-mandate .hidden-have-written-mandate + input[type="checkbox"] + label,
  fieldset.used .hidden-used,
  fieldset.unused .hidden-unused,
  fieldset.have-data .hidden-have-data,
  fieldset.no-data .hidden-no-data {
    display:none!important;
  }

  /* lock/unlock the project binding if we have a mandate */
  input.debit-mandate-binding-lock {
    ~ label.debit-mandate-binding-lock {
      height: 16px;
      width: 16px;
      position: relative;
      vertical-align: top;
      top: 0;
      background-image: url('../node_modules/@fortawesome/fontawesome-free/svgs/solid/unlock.svg');
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
      text-indent: -10000em;
      z-index:1;
    }

    &:checked ~ label.debit-mandate-binding-lock {
      background-image: url('../node_modules/@fortawesome/fontawesome-free/svgs/solid/lock.svg');
      opacity: 0.2;
    }
  }

  fieldset.used input.debit-mandate-binding-lock ~ label.debit-mandate-binding-lock {
    background-image: url('../img/dontred.svg');
    background-size: 16px 16px;
  }

  input.debit-mandate-binding-lock {
    &:not(:checked) ~ .debit-mandate-binding.hidden-if-unlocked,
    fieldset.used input.debit-mandate-binding-lock ~ .debit-mandate-binding.hidden-if-locked,
    input.debit-mandate-binding-lock:checked ~ .debit-mandate-binding.hidden-if-locked {
      display:none!important;
    }

    &:checked ~ .debit-mandate-binding.hidden-if-unlocked,
    fieldset.used input.debit-mandate-binding-lock ~ .debit-mandate-binding.hidden-if-unlocked,
    input.debit-mandate-binding-lock:not(:checked) ~ .debit-mandate-binding.hidden-if-locked {
      display:inline-block!important;
    }
  }

  /* selectize stuff */

  .selectize-control {
    &.mandateProjectId {
      min-width:10rem;
      max-width:10rem;
    }

    &.single .selectize-dropdown {
      width:auto!important;
      min-width:10rem;
      max-width:30rem;
    }
  }

  /******************/

  fieldset {
    position:relative;
    width:100%
  }

  fieldset.bank-account {
    padding-bottom:0.5em;
    border-bottom: 1px solid var(--color-background-dark);
  }

  fieldset.debit-mandate {
    padding-top:0.5em;
  }

  fieldset.debit-mandate .debit-mandate-details {
    position:relative;
    width:100%
  }

  .form-blocker,
  fieldset.debit-mandate .debit-mandate-blocker {
    display:none;
    position:absolute;
    left:0;
    top:0;
    opacity:0.5;
    background-color:black;
    width:100%;
    height:100%;
    z-index:10;
  }

  &.bank-account-deleted .form-blocker {
    display:block;
  }

  fieldset.debit-mandate {
    &.no-data, &.deleted {
      input.debit-mandate-registration {
        + label > {
          *, * > * {
            cursor:pointer;
          }
        }

        + label::before {
          background-image: url('../../../core/img/actions/add.svg');
        }

        &:checked + label::before {
          background-image: url('../img/actions/settings-white.svg');
        }
      }
    }

    &.have-data:not(.deleted) legend.debit-mandate-registration {
      display:none;
    }

    &.no-data {
      .debit-mandate-blocker {
        display:block;
      }

      input.debit-mandate-registration:checked ~ .debit-mandate-details .debit-mandate-blocker {
        display:none;
      }

      legend .registration-for-label {
        display:none;
      }

      legend .registration-label {
        display:inline-block;
      }
    }

    &.deleted .debit-mandate-blocker {
      display:block!important;
    }

    #upload-written-mandate-later + label {
      position:absolute;
      right:0;
      bottom:0;
      margin-right:3px;
    }

    legend .registraion-label,
    legend .registration-for-label,
    &.no-data legend .reference-label {
      display:none;
    }

    .debit-mandate-details {
      width:100%;
    }
  }

  .written-mandate-upload {
    .upload-placeholder {
      width:20em;
    }

    .operations .operation {
      background-repeat:no-repeat;
      background-size: 24px 24px;
      background-position: center;
      width:28px;
      height:28px;
      vertical-align:middle;
      margin-right:1em;

      &.delete-undelete {
        background-image:url('../img/cafevdb-delete.svg');
      }

      &.upload-replace {
        background-image:url('../../../core/img/actions/upload.svg');
      }

      &.download-mandate-form {
        background-image:url('../../../core/img/actions/download.svg');
      }
    }
  }

  /* Style links in a more ordinary fashion. Grin. */
  a.download-link {

    &:link {
      color:CornFlowerBlue;
      text-decoration:underline;
      font-weight:bold;
    }

    &:visited {
      color:CornFlowerBlue;
      text-decoration:underline;
      font-weight:bold;
    }

    &:hover {
      color:CornFlowerBlue;
      text-decoration:underline;
      font-style:italic;
      font-weight:bold;
    }
  }
}

form.pme-form {

  /****************************************************************************
   *
   * "misc" check-boxes and buttons
   *
   */

  input.debit-note {
    &.pme-misc-[type=submit] {
      background-image:url('../img/euro-x.png');
    }
    &.pme-misc+[type=submit] {
      background-image:url('../img/euro-yes.png');
    }
    &.pme-misc[type=submit] {
      background-image:url('../img/euro.png');
    }
  }

  /* row check-boxes */
  :not(.lt-ie9) div.debit-note.pme-misc-check {
    background:url(../img/euro.png);
  }
  :not(.lt-ie9) input.debit-note.pme-misc-check[type=checkbox]:checked ~ div.debit-note.pme-misc-check {
    background:url(../img/euro-yes.png);
  }

  /****************************************************************************
   *
   * control in list-view for the selection of the topics to charge.
   *
   */
  .sepa-bulk-transactions {

    &.pme-menu-block {
      display:block;
      width:100%;
    }

    .chosen-container.sepa-bulk-transactions {
      width:100%!important;
      height:auto!important;
    }
  }

  /****************************************************************************
   *
   * show-hide deleted in pme-table
   *
   */

  table.pme-main {
    td.pme-value.sepa-bank-accounts table {
      &.hide-deleted tr.deleted {
        display:none;
      }

      tr.deleted input {
        text-decoration:line-through;
      }

    }

    /****************************************************************************
   *
     * debit-note table
     *
     */

    li.nav.inline-block > a.nav {
      min-height:unset;
      line-height:unset;
    }
  }

  /****************************************************************************
   *
   * due-dead-line, restrict height
   *
   */

  input.sepa-due-deadline {
    min-height:unset;
    height:28px;
  }
}

/*
 * Local Variables: ***
 * css-indent-offset: 2 ***
 * End: ***
 */
