/**
 * Orchestra member, musicion and project management application.
 *
 * CAFEVDB -- Camerata Academica Freiburg e.V. DataBase.
 *
 * @author Claus-Justus Heine
 * @copyright 2011-2013, 2020, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

/*******************************************************************************
 *
 * Be noisy on configuration errors.
 *
 */

div.cfgerror {
  padding-left:2ex;
  padding-top:8ex;
  min-width:60ex;
  width:80%;
  color:red;
  font-weight:bold;
}

div.statusmessage, span.statusmessage {
  font-style:italic;
  color:red;
  display:none;
}

input[type=button]:active, input[type=submit]:active {
  background-color:SteelBlue;
}

#dbgeneral #msgplaceholder {
  min-height:3ex;
}

#emailtestmode {
  margin-left:4ex;
}

#emailsmtpfields div.chosen-container,
#emailimapfields div.chosen-container {
  vertical-align:middle;
  margin-right:1ex;
  margin-left:0.7ex;
  /*font-weight:bold;*/
}

#emailsmtpfields, #emailimapfields, #emailaccount, #emailidentity {
  margin-bottom:1ex;
}

#error.statusmessage, #equal.statusmessage, #insecure.statusmessage {
  font-weight:bold;
}

#appsettings_popup div.personalblock.admin {
  min-width:46em;
  min-height:30em;
}

#emailimapfields {
  display:inline;
}

#emailsmtpfields {
  display:inline;
}

input.streetAddressName {
  width: 40em;
}

input.streetAddressStreet {
  width: 34em;
}

input.streetAddressHouseNumber {
  max-width: 4em;
}

input.streetAddressZIP {
  max-width: 8em;
}

input.streetAddressCity {
  width: 30em;
}

input.streetAddressCountry {
  width: 40em;
}

input.bankAccountOwner {
  width: 40em;
}

input.bankAccountIBAN {
  width: 22em;
}

input.bankAccountBIC {
  width: 8em;
}

input.bankAccountBLZ {
  width: 6em;
}

input.bankAccountCreditorIdentifier {
  width: 40em;
}

input.document-template.operation {
  background-repeat:no-repeat;
  background-size: 24px 24px;
  background-position: center;
  width:28px;
  height:28px;
  vertical-align:middle;
  margin-right:1em;
}

input.upload-replace {
  background-image:url('../../../core/img/actions/upload.svg');
}

input.select-cloud {
  background-image:url('../img/cloud-icon.svg');
}

a.sharedfolder-view {
  display:inline-block;
  background-repeat:no-repeat;
  background-size: 24px 24px;
  background-position: center;
  width:28px;
  min-height:34px;
  vertical-align:middle;
  background-image:url('../../../core/img/filetypes/folder-external.svg');
}


input.document-template.upload-placeholder {
  width:22em;
}

input.memberTable, input.executiveBoardTable {
  width: 20em;
}


input.randompassword {
  width: 22em;
}

input.randomkey {
  width: 18em;
}

/* #personal-settings-container { */
/*     display:none; */
/* } */

#personal-settings-container div.settings-control {
  margin:0.2ex 0 0.2ex 0;
}

#personal-settings-container div.locale.information {
  margin-top:1ex;
}

#personal-settings-container span.locale.heading {
  font-weight:bold;
}

#personal-settings-container span.locale.timestamp {
  color:red;
}

#personal-settings-container span.locale.time {
  color:blue;
}

#personal-settings-container span.locale.timezone {
  color:red;
}

#personal-settings-container span.locale.thelocale {
  color:blue;
}

#app-settings-content input[type="checkbox"].checkbox + label {
  width:auto;
}

#app-settings-content a.settings {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    border:0;
    border-radius:0;
    height:33px;
    min-height:33px;
    line-height:33px;
    padding-left:33px;
    padding-left:33px;
}

#app-settings-content a.generalsettings {
    background-image: url('../../../core/img/actions/rename.svg');
}

#app-settings-content a.expertoperations {
    background-image: url('../../../core/img/actions/settings.svg');
}

#app-settings-content li.expertmode.hidden {
    display:none;
}

#content.app-cafevdb #app-settings-content {
  max-height: 500px;
}

#app-settings.open #app-settings-content {
  overflow-y: visible !important; /* for chosen drop-up */
}

#app-settings-content div.chosen-container li.search-choice {
    width:auto;
}

#app-settings-content div.chosen-container li.search-choice a.search-choice-close {
    width:12px;
    display:block;
    margin:0px;
    padding:0px;
    line-height:inherit;
    min-height:inherit;
}

.popup {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px #aaa;
    color: #333;
    /* padding: 10px; */
    position: absolute;
    z-index: 100;
}

#appsettings_popup.popup.bottomleft {
    bottom:1em;
    left:300px;
    margin-left:1em;
    position: absolute;
    z-index: 1050;
    height: auto;
}

.popup > div:first-child {
    /* top right bottom left */
    margin: 0 0 0.5em 1em;
    padding: 0;
    border:0;
    max-height: calc(100vh - 50px - 1.5em); /* header - top and bottom */
    height: 100%;
    overflow: auto;
}

#appsettings_popup .popup-title {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding-top: 1em;
}

.popup .close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    height: 20px;
    width: 20px;
    background: url('../../../core/img/actions/close.svg') no-repeat center;
}

.personal-settings .debugmode-container {
  max-width: 40ex;
}

.specialMemberProjects.validate {
  background-image:url('../img/reload-solid.svg');
  background-repeat:no-repeat;
  background-position:center;
  text-indent:-100000em;
  width:34px;
  height:34px;
}
